<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>PaaS云管理平台</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />	
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />
		
	</head>
	<body>
		
		
		<div id="common-header"></div>
		
		<div id="content">
			<div id="content-header">
				<h2>用户管理</h2>
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="#" class="tip-bottom"><i class="icon-home"></i>全局配置</a>
				<a href="/user/list" class="tip-bottom">用户管理</a>
				<a href="#" class="current">修改用户信息</a>
			</div>
			<div class="container-fluid">
				
				
				<div class="row-fluid" >
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>用户信息</h5>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" action="#" th:action="@{/user/modify}" th:object="${User}" method="post" name="create_user_validate" id="create_user_validate" novalidate="novalidate">
                                    <div class="control-group">
                                        <label class="control-label">*登录名</label>
                                        <div class="controls">
                                            <input id="loginname" name="loginname" type="text"  th:field="*{loginname}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">*用户名</label>
                                        <div class="controls">
                                            <input id="username" name="username" type="text"  th:field="*{username}" />
                                        </div>
                                    </div>
                                    
									
									<div class="control-group">
                                        <label class="control-label">邮箱</label>
                                        <div class="controls">
                                            <input id="email" name="email" type="text" th:field="*{email}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                    	<a  class="btn tip-bottom" href="/user/list">返回</a>
                                        <input type="submit" value="确认修改" class="btn btn-primary" />
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>

				<div class="common-footer"></div>
			</div>
		</div>
		

            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/jquery.ui.custom.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            
            <script th:src="@{/js/jquery.uniform.js}"></script>
            <script th:src="@{/js/select2.min.js}"></script>
            <script th:src="@{/js/jquery.validate.js}"></script>
            <script th:src="@{/js/unicorn.js}"></script>
            <script th:src="@{/js/unicorn.form_validation.js}"></script>
            <script th:src="@{/js/commonDisplay.js}"></script>
	</body>
</html>
