<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>PaaS云管理平台</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />	
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />
		
		<script>
		function delUser(loginname){
			$('#frm').attr("action", "/user/delete/"+loginname).submit();
		}
		function changePwd(loginname){
			$('#add-event').click();
			$('#c_loginname').attr("value", loginname);  
		}
		function getUser(){
			var keyword = $('#keyword').val();
			$('#getform').attr("action", "/user/get?keyword="+keyword).submit();
		}
		</script>
	</head>
	<body>
		
		
		<div id="common-header"></div> 
		
		<div id="content">
			<div id="content-header">
				<h2>用户管理</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="tip-bottom"><i class="icon-home"></i>全局配置</a>
				<a href="#" class="current">用户管理</a>
			</div>
			<div class="container-fluid">
				
				<div class="row-fluid" >
					
					<div class="span12" style="margin-top:10px;margin-bottom:-10px">
						<a title="新增用户" class="btn tip-bottom" href="/user/create"><i class="icon-plus"></i>新增</a>
						<font color="red"><span th:text="${info}"></span></font>
						<div  style="float:right">
						<form action="/user/get" method="post" id="getform">
							<input name="keyword" id="keyword" type="text" placeholder="输入关键字查询..." style="font-size: 11px;font-style: italic" th:value="${keyword}"/>
							<button type="button" onclick="getUser()"  title="Search" style="margin-top:-10px"><i class="icon-search icon-black"></i></button>
						</form>	
						</div>
						
					</div>
				</div>
				
				<div class="row-fluid" >
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<h5>用户列表</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered data-table">
									<thead>
										<tr>
											<th>*登录名</th>
											<th>*姓名</th>
											<th>邮箱</th>
											<th style="width:10%">操作</th>
										</tr>
									</thead>
									<tbody th:each="user : ${users}">
										<tr class="gradeX" th:object="${user}">
											<td><a th:href="'/user/get/'+*{loginname}"><span th:text="*{loginname}"></span></a></td>
											<td><span th:text="*{username}"></span></td>
											<td><span th:text="*{email}"></span></td>
											<td style="text-align:center">
												<button title="修改密码" class="btn btn-primary" th:onclick="'changePwd(\''+*{loginname}+'\')'"><i class="icon-pencil icon-white"></i></button>
												<button th:if="*{loginname}!='admin'" title="删除" class="btn btn-danger" th:onclick="'delUser(\''+*{loginname}+'\')'"><i class="icon-remove icon-white"></i></button>
												<form id="frm" name="frm" action="#"  method="get"></form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>	
					</div>
				</div>
				
				<a title="修改密码" id="add-event" data-toggle="modal" href="#modal-add-event" class="btn btn-primary btn" style="display:none"></a>
				<div class="modal hide" id="modal-add-event" style="text-align:center">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h3>修改密码</h3>
					</div>
					<form action="#" th:action="@{/user/adminChangePassword}" th:object="${UserPassword}" method="post" class="form-horizontal" id="create_user_validate">
						<div class="modal-body">
							<div class="control-group">
								<p>*登录名：<input id="c_loginname" type="text" name="loginname" th:field="*{loginname}" readonly="readonly"/></p>
							</div>
							<div class="control-group">
								<p>*新密码： &nbsp;&nbsp;<input id="pwd" type="password" name="pwd" th:field="*{password}"/></p>
							</div>
							<div class="control-group">
								<p>*确认密码： &nbsp;&nbsp;<input id="pwd2" name="pwd2" type="password" /></p>
							</div>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn" data-dismiss="modal">取消</a>
							<input type="submit" id="add-event-submit" class="btn btn-primary" value="确认修改" />
						</div>
					</form>
				</div>
				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2017 &copy; k8scmp. 
					</div>
				</div>
			</div>
		</div>
		

            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/jquery.ui.custom.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            
            <script th:src="@{/js/jquery.uniform.js}"></script>
            <script th:src="@{/js/select2.min.js}"></script>
            <script th:src="@{/js/jquery.dataTables.min.js}"></script>
            <script th:src="@{/js/unicorn.js}"></script>
            <script th:src="@{/js/unicorn.tables.js}"></script>
            <script th:src="@{/js/jquery.validate.js}"></script>
            <script th:src="@{/js/unicorn.form_validation.js}"></script>
            <script th:src="@{/js/commonDisplay.js}"></script>
	</body>
</html>
