<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<link rel="stylesheet" th:href="@{/css/select2.css}" />
	<body>
	<input type="hidden" id="resultStr" th:value="${resultStr}" />
	
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		
		<div id="content">
			<div id="content-header">
				<h2>逻辑集群管理</h2>
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="#" class="tip-bottom"><i class="icon-home"></i>全局配置</a>
				<a href="/cluster/logic/list" class="tip-bottom">逻辑集群管理</a>
				<a href="#" class="current">新增逻辑集群</a>
			</div>
			<div class="container-fluid">
				
				
				<div class="row-fluid" >
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>请输入逻辑集群信息</h5>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" action="#" th:action="@{/cluster/logic/create/subform}" th:object="${logicClusterDetail}" method="post" name="create_logic_validate" id="create_logic_validate" novalidate="novalidate">
                                    <div class="control-group">
                                        <label class="control-label">*逻辑集群名</label>
                                        <div class="controls">
                                            <input id="name" name="name" type="text"  th:field="*{name}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="control-group">
                                        <label class="control-label">选择所属物理集群</label>
                                        <div class="controls">
				                            <select class="combine" style="width:170px" id="cluster"   th:field="*{clustername}">
												<option th:each="cluster:${clusters}" th:value="${cluster.name+','+cluster.api}" th:text="${cluster.name}" th:selected="${clustername==cluster.name}"></option>
											</select>
										</div>
                                    </div>
                                    <!-- 
                                    <div class="control-group">
                                        <label class="control-label">选择所属namespace</label>
                                        <div class="controls">
			                            <select class="combine" style="width:170px" id="namespace" th:field="*{namespace}" >
											<option th:each="ns:${namespaces}" th:value="${ns}" th:text="${ns}" th:selected="${namespace==ns}" ></option>
										</select>
										</div>
                                    </div>
                                     -->
									<div class="control-group">
                                        <label class="control-label">选择关联主机</label>
                                        <div class="controls">
                                            <select th:field="*{description}"  multiple="multiple" class="multiselect" name="nodelist" id="nodelist" style="width: 854px;" required="required" >	
												<option th:each="node:*{nodeList}" th:value="${node.name}" 	
												th:selected="${#strings.contains('',node.name)}"
												th:text="${node.name}" ></option>	
											</select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                    	<a  class="btn tip-bottom" href="/cluster/logic/list">返回</a>
                                        <input type="submit" value="确认添加" class="btn btn-primary" />
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>

				<div id="common-footer">
					<div th:include="/public/commonframe::app-footer"></div>
				</div>
			</div>
		</div>
		

            <div th:include="/public/commonframe::jsScript(activeMenuNumber=23)" ></div>
            
            <script th:src="@{/js/jquery.uniform.js}"></script>
            <script th:src="@{/js/select2.min.js}"></script>
            <script th:src="@{/js/unicorn.form_validation2.js}"></script>
            <script th:src="@{/js/unicorn.tables2.js}"></script>
            <script th:src="@{/js/jquery.validate.js}"></script>
            <script th:src="@{/js/unicorn.js}"></script>
            
            <script th:src="@{/js/global/cluster-logic.js}"></script>
	
	</body>
</html>
