<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
		
		<script>
		function delUser(loginname){
			$('#frm').attr("action", "/user/delete/"+loginname).submit();
		}
		function changePwd(loginname){
			$('#add-event').click();
			$('#c_loginname').attr("value", loginname);  
		}
		function getUser(){
			var keyword = $('#keyword').val();
			$('#getform').attr("action", "/user/get?keyword="+keyword).submit();
		}
		</script>
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div> 
		
		<div id="content">
			<div id="content-header">
				<h2>逻辑集群管理</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="tip-bottom"><i class="icon-home"></i>全局配置</a>
				<a href="#" class="current">逻辑集群管理</a>
			</div>
			<div class="container-fluid">
				<!-- 
				<div class="row-fluid" >
					
					<div class="span12" style="margin-top:10px;margin-bottom:-10px">
						<a title="新增逻辑集群" class="btn tip-bottom" href="/cluster/logic/create"><i class="icon-plus"></i>新增</a>
						<font color="red"><span th:text="${info}"></span></font>
						<div class="buttons" style="float:right">
						<form action="/user/get" method="post" id="getform">
							<div class="input-append" style="float:right">
			                	<input type="text" id="keyword" placeholder="请输入查询内容" th:value="${keyword}"/><button class="btn prepend"  onclick="getUser()" ><i class="icon-search"></i> </button>
			            	</div>
						</form>	
						</div>
						
					</div>
				</div>
				 -->
				 
				<div class="row-fluid" >
					<div class="span12">
						<a title="新增逻辑集群" class="btn tip-bottom" href="/cluster/logic/create"><i class="icon-plus"></i>新增</a>
						<font color="red"><span th:text="${info}"></span></font>
						<div class="widget-box">
							<div class="widget-title">
								<h5>逻辑集群列表</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered data-table display" style="width:100%">
									<thead>
										<tr>
											<th>逻辑集群名</th>
											<th>所属物理集群</th>
											<th>关联主机个数</th>
											<th >操作</th>
										</tr>
									</thead>
									<tbody >
										<tr class="gradeX" th:each="labelinfo : ${labelinfos}" th:object="${labelinfo}">
											<td><a th:href="@{/cluster/logic/edit(clustername=*{clusterInfo.name},apiserver=*{clusterInfo.apiserver},logicname=*{labelName},nodeNames=*{nodeName.toString()})}"><span th:text="*{labelName}"></span></a></td>
											<td><span th:text="*{clusterInfo.name}"></span></td>
											<td  th:title="*{nodeName}"><span th:text="*{hostCount}"></span></td>
											<td style="text-align:center">
												<a title="修改" class="btn btn-primary" th:href="@{/cluster/logic/edit(clustername=*{clusterInfo.name},apiserver=*{clusterInfo.apiserver},logicname=*{labelName},nodeNames=*{nodeName.toString()})}"><i class="icon-pencil icon-white"></i></a>
												<button title="删除" class="btn btn-danger" th:onclick="''"><i class="icon-remove icon-white"></i></button>
												<form id="frm" name="frm" action="#"  method="get"></form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>	
					</div>
				</div>
				
				<a title="修改逻辑集群" id="add-event" data-toggle="modal" href="#modal-add-event" class="btn btn-primary btn" style="display:none"></a>
				
				<div id="common-footer">
					<div th:include="/public/commonframe::app-footer"></div>
				</div>
			</div>
		</div>
		

            <div th:include="/public/commonframe::jsScript(activeMenuNumber=23)" ></div>
            
	</body>
</html>
