<!-- <div class="tab-pane fade in active" id="instence"> -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
			共<strong><span id="total" class="text" th:text="${total}"></span></strong>个实例&nbsp;&nbsp;
				<div class="input-append" style="float:right">
                	<input id="monitorInstenceName" type="text" placeholder="请输入查询内容"/><button class="btn prepend" onclick="getInstenceByName();"><i class="icon-search"></i> </button>
            	</div>
				<br/>
				<div class="widget-box">
					<div class="widget-title">
						<h5>实例监控</h5>
					</div>
					<div class="widget-content nopadding" id="host">

						<table class="table table-bordered data-table with-check" style="table-layout: fixed;">
							<thead>
							<tr>
								<th></th>
								<th data-field="instanceName">实例名</th>
								<th data-field="appName">所属应用</th>
								<th data-field="serviceName">所属服务</th>
								<th data-field="CPUUsed">CPU占用(%)</th>
								<th data-field="memoryUsed">内存占用(%)</th>
								<th data-field="netInput">网络流入总量(KB/s)</th>
								<th data-field="netOutput">网络流出总量(KB/s)</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="monitorInstenceTbody">
							<tr th:each="instence:${instenceList}">
								<td></td>
								<td th:text="${instence.instanceName}"></td>
								<td th:text="${instence.appName}"></td>
								<td th:text="${instence.serviceName}"></td>
								<td th:text="${instence.CPUUsed}"></td>
								<td th:text="${instence.memoryUsed}"></td>
								<td th:text="${instence.netInput}"></td>
								<td th:text="${instence.netOutput}"></td>
								<td><a title='单击查看实例详情' th:href="@{monitor/instence}" class="tip-top">查看</a></td>
							</tr>
						</tbody>
						</table>  
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->