<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
		
		<div id="common-header"></div>
		
		<div id="content">
			<div id="content-header">
				<h2>监控</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="监控">监控</a>
			</div>
			
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#host" data-toggle="tab" >主机监控</a>
				</li>
				<li>
					<a href="#instence" data-toggle="tab" >实例监控</a>
				</li>
			</ul>
	
			<div id="myTabContent" class="tab-content">
				<!-- 第一个标签页 -->
				<div class="tab-pane fade in active" id="host">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span12">
							共<strong><span id="total" class="text" th:text="${total}"></span></strong>1台主机&nbsp;&nbsp;
								<div id="search" style="padding-top: 134px;padding-left: 68%;">
									<form action="#" method="post">  
										<input name="hostName" type="text" placeholder="输入主机名称查询..." style="font-size: 11px;font-style: italic;color: white"/>
										<button type="submit" class="tip-top" title="Search" ><i class="icon-search"></i></button>
									</form> 
								</div>
							<br/>
								<div class="widget-box">
									<div class="widget-title">
										<h5>主机监控</h5>
									</div>
									<div class="widget-content nopadding" id="host">
		
										<table class="table table-bordered data-table with-check" style="table-layout: fixed;">
											<thead>
												<tr>
													<th></th>
													<th data-field="hostName">主机名</th>
													<th data-field="phyCluster">所属物理集群</th>
													<th data-field="logicCluster">所属逻辑集群</th>
													<th data-field="state">状态</th>
													<th data-field="CPUTotal">CPU占用率</th>
													<th data-field="memoryTotal">内存占用率</th>
													<th data-field="diskTotal">磁盘占用率</th>
													<th data-field="ioinput">网络流入总量(KB/s)</th>
													<th data-field="iooutput">网络流出总量(KB/s)</th>
												</tr>
											</thead>
											<!-- <tbody id="hostTbody">
												<tr th:each="node : $(nodeInfoList)">
													<td th:text="${node.phyCluster}"></td>
													<td th:text="${node.logicCluster}"></td>
													<td><a title='单击查看主机详情' th:href="@{monitor/monitor-host(hostName=${node.hostName},logicCluster=${node.logicCluster})}" th:text="${node.hostName}" class="tip-top"></a></td>
													<td th:text="${node.state}"></td>
													<td th:text="${node.CPUTotal}"></td>
													<td th:text="${node.memoryTotal}"></td>
													<td th:text="${node.diskTotal}"></td>
													<td th:text="${node.ioinput}"></td>
													<td th:text="${node.iooutput}"></td>
												</tr>
											</tbody> -->
											<tbody id="hostTbody">
												<tr>
													<td></td>
													<td><a title='单击查看主机详情' href="/monitor/host" class="tip-top">test-node-001</a></td>
													<td>182.11980.140</td>
													<td>test</td>
													<td>在线</td>
													<td>30</td>
													<td>15</td>
													<td>40</td>
													<td>1024</td>
													<td>512.04</td>
												</tr>
											</tbody>
										</table>  
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			<!-- 第二个标签页 -->
			<div class="tab-pane fade" id="instence">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span12">
						共<strong><span id="total" class="text" th:text="${total}"></span></strong>个实例&nbsp;&nbsp;
							<div id="search" style="padding-top: 134px;padding-left: 68%;">
								<form action="#" th:method="post">  
									<input name="instenceName" type="text" placeholder="输入实例名称查询..." style="font-size: 11px;font-style: italic;color: white"/>
									<button type="submit" class="tip-top" title="Search" ><i class="icon-search"></i></button>
								</form> 
							</div>
						<br/>
							<div class="widget-box">
								<div class="widget-title">
									<h5>实例监控</h5>
								</div>
								<div class="widget-content nopadding" id="host">
	
									<table class="table table-bordered data-table with-check" style="table-layout: fixed;">
										<thead>
										<tr>
											<th></th>
											<th data-field="instanceName">实例名</th>
											<th data-field="appName">所属应用</th>
											<th data-field="serviceName">所属服务</th>
											<th data-field="CPUUsed">CPU占用</th>
											<th data-field="memoryUsed">内存占用</th>
											<th data-field="netInput">网络流入总量(KB/s)</th>
											<th data-field="netOutput">网络流出总量(KB/s)</th>
										</tr>
									</thead>
									<!-- <tbody id="instenceTbody">
										<tr th:each="instence : $(instenceList)">
											<td th:text="${instence.appName}"></td>
											<td th:text="${instence.serviceName}"></td>
											<td><a title='单击查看实例详情' th:href="@{monitor/monitor-instence(hostName=${instence.instanceName})}" th:text="${instence.instanceName}" class="tip-top"></a></td>
											<td th:text="${instence.CPUUsed}"></td>
											<td th:text="${instence.memoryUsed}"></td>
											<td th:text="${instence.netInput}"></td>
											<td th:text="${instence.netOutput}"></td>
										</tr>
									</tbody> -->
									<tbody id="instenceTbody">
										<tr>
											<td></td>
											<td><a title='单击查看实例详情' href="/monitor/instence" class="tip-top">instence-001</a></td>
											<td>app-01</td>
											<td>service-01</td>
											<td>15</td>
											<td>40</td>
											<td>1024</td>
											<td>512.04</td>
										</tr>
									</tbody>
									</table>  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="common-footer"></div>
		</div>
	</div>	


	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.ui.custom.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/js/jquery.uniform.js}"></script>
	<script th:src="@{/js/select2.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/unicorn.js}"></script>
	<script th:src="@{/js/unicorn.tables.js}"></script>
	<script th:src="@{/js/commonDisplay.js}"></script>
	
	<script type="text/javascript">
		  /* function getNodeList(){
			$('#hostTable').bootstrapTable('destroy');
			var $table = $('#hostTable');
			$table.bootstrapTable({
			url: '/monitor/monitorHost', 
			dataType: "json",
			//toolbar: '#toolbar',                //工具按钮用哪个容器
			striped: true,                      //是否显示行间隔色
			singleSelect: false,
			pagination: true, //分页
			pageNumber:1,                       //初始化加载第一页，默认第一页
			pageSize: 10,                       //每页的记录行数（*）
			pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
			search: false, //显示搜索框
			sidePagination: "server", //服务端处理分页
			onDblClickRow: function (item, $element) {
				var newDate=new Date();
				var start=newDate.toLocaleTimeString();
				var end=start + 3600;
				var dataSpec='average';
				var targetType='node';
			
				window.location.href = "/monitorDtl/hostDtl?hostName="+item.hostName;
	        }
			  });
		  }

		function getIntance(){
			  //alert("teststs");
			  $('#instanceTable').bootstrapTable('destroy');
				var $table = $('#instanceTable');
				$table.bootstrapTable({
				url: '/monitor/monitorInstance', 
				dataType: "json",
				//toolbar: '#toolbar',                //工具按钮用哪个容器
				striped: true,                      //是否显示行间隔色
				singleSelect: false,
				pagination: true, //分页
				pageNumber:1,                       //初始化加载第一页，默认第一页
				pageSize: 10,                       //每页的记录行数（*）
				pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
				search: false, //显示搜索框
				sidePagination: "server", //服务端处理分页
				onDblClickRow: function (item, $element) {
					var newDate=new Date();
					var start=newDate.toLocaleTimeString();
					var end=start + 3600;
					var dataSpec='average';
					var targetType='pod';
				
					window.location.href = "/monitorDtl/instanceDtl";
		        }
				  });
		  }
	
		$(document).ready(function () {          
	        //调用函数，初始化表格  
	        getNodeList();  
  
	    }); */

	</script>
	</body>
</html>
