<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			共<strong><span id="total" class="text" th:text="${total}"></span></strong>台主机&nbsp;&nbsp;
			<div class="input-append" style="float:right">
              	<input id="monitorhostname" type="text" placeholder="请输入主机名查询内容"/><button class="btn prepend" onclick="getHostbyHostname();"><i class="icon-search"></i> </button>
          	</div>
		<br/>
			<div class="widget-box">
				<div class="widget-title">
					<h5>主机监控</h5>
				</div>
				<div class="widget-content nopadding" id="host">

					<table class="table table-bordered data-table with-check" style="table-layout: fixed;">
						<thead>
							<tr>
								<th></th>
								<th data-field="hostName">主机名</th>
								<th data-field="logicCluster">所属逻辑集群</th>
								<th data-field="state">状态</th>
								<th data-field="CPUPercent">CPU占用率(%)</th>
								<th data-field="memoryPercent">内存占用率(%)</th>
								<th data-field="diskPercent">磁盘占用率(%)</th>
								<th data-field="netin">网络流入总量(KB/s)</th>
								<th data-field="netout">网络流出总量(KB/s)</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="monitorhostTbody">
							<tr th:each="node,nodeStat:${nodeInfoList}">
								<td></td>
								<td th:text="${node.hostName}"></td>
								<td th:text="${node.logicCluster}"></td>
								<td th:text="${node.state}"></td>
								<td th:text="${node.CPUPercent}"></td>
								<td th:text="${node.memoryPercent}"></td>
								<td th:text="${node.diskPercent}"></td>
								<td th:text="${node.netin}"></td>
								<td th:text="${node.netout}"></td>
								<td><a title='单击查看主机详情' th:href="@{monitor/host}" class="tip-top">查看</a></td>
							</tr>
						</tbody>
					</table>  
				</div>
			</div>
		</div>
	</div>
</div>
