<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		<div id="content">
			<div id="content-header">
				<h2>监控</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="监控">监控</a>
			</div>
			
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a target="/monitor/hostlist" data-toggle="tab" >主机监控</a>
				</li>
				<li>
					<a target="/monitor/instencelist" data-toggle="tab" >实例监控</a>
				</li>
			</ul>
			<div id="myTabCont" class="tab-content">
			</div>	
			<div class="common-footer">
				<div th:include="/public/commonframe::app-footer"></div>
			</div>
		</div>	
	<div th:include="/public/commonframe::jsScript(activeMenuNumber=42)" ></div>
	<script th:src="@{/js/jquery.ui.custom.js}"></script>
	   
	<script type="text/javascript">
		$(document).ready(function(){ 
			　　$.get("/monitor/hostlist",function(data){ 
					$('#myTabCont').html(data);
				}); 
			
				$(function(){
					$(".nav-tabs li").click(function(){
						var $this= $(this);
						_clickTab = $this.find('a').attr('target');
						 $.get(_clickTab,function(data){
							$('#myTabCont').html(data);
							
						}); 
					});
				});
			}); 
		//主机监控搜索
		function getHostbyHostname(){
			var hostName = $("#monitorhostname").val();
			 $.ajax({
				url:"/monitor/hostsearch",
				data:{
					hostName : hostName
				},
				type:"post",
				dataType:"json",
				success:function(data){
					var hostList = eval(data.result);
					//alert("1");
					$("#monitorhostTbody").empty();
					var total = 0;
					if(hostList != null){
						$.each(hostList,function(k,v){
							var tr = '<tr>'
								+'<td></td>'
								+'<td>'+v.hostName+'</td>'
								+'<td>'+v.logicCluster+'</td>'
								+'<td>'+v.state+'</td>'
								+'<td>'+v.CPUPercent+'</td>'
								+'<td>'+v.memoryPercent+'</td>'
								+'<td>'+v.diskPercent+'</td>'
								+'<td>'+v.netin+'</td>'
								+'<td>'+v.netout+'</td>'
								+'<td><a title="单击查看规则" th:href="@{/monitor/host}" class="tip-top">查看</a></td>'
								+'</tr>';
							$("#monitorhostTbody").append(tr);
							total++;
						})
						$("#total").text(total);
					}else{
						$("#total").text(0);
					} 
					
			 	 }
			}) 
		}
		
		//实例监控搜索
		function getInstenceByName(){
			var serviceName = $("#monitorInstenceName").val();
			 $.ajax({
				url:"/monitor/instenceSearch",
				data:{
					serviceName : serviceName
				},
				type:"post",
				dataType:"json",
				success:function(data){
					var instenceList = eval(data.result);
					//alert("1");
					$("#monitorInstenceTbody").empty();
					//var total = 0;
					if(instenceList != null){
						$.each(instenceList,function(k,v){
							var tr = '<tr>'
								+'<td></td>'
								+'<td>'+v.instanceName+'</td>'
								+'<td>'+v.appName+'</td>'
								+'<td>'+v.serviceName+'</td>'
								+'<td>'+v.CPUUsed+'</td>'
								+'<td>'+v.memoryUsed+'</td>'
								+'<td>'+v.netInput+'</td>'
								+'<td>'+v.netOutput+'</td>'
								+'<td><a title="单击查看规则" th:href="@{/monitor/instence}" class="tip-top">查看</a></td>'
								+'</tr>';
							$("#monitorInstenceTbody").append(tr);
							//total++;
						})
					}
					
			 	 }
			}) 
		}
		
	</script>
	</body>
</html>
