<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<script>
		function getLogList(){
			var keyword = $('#keyword').val();
			$('#getform').attr("action", "/opeloglist/getbykw?keyword="+keyword).submit();
		}
		</script>
	</head>
	<body>
		<div id="common-header">
			
		</div>
		<div id="content">
			<div id="content-header">
				<h2>审计日志</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="审计日志">审计日志</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="buttons">
							<form action="/opeloglist/getbykw" method="post" id="getform">
							<div class="input-append" style="float:right">
			                	<input type="text" id="keyword" placeholder="请输入查询内容" th:value="${keyword}"/><button class="btn prepend"  onclick="getLogList()" ><i class="icon-search"></i> </button>
			            	</div>
			            	</form>
						</div>	
						<div class="widget-box">
							<div class="widget-title">
								<h5>应用列表</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered data-table" style="table-layout: fixed;">
									<thead>
										<tr>
											<th>资源id</th>
											<th>资源类型</th>
											<th>操作</th>
											<th>操作用户Id</th>
											<th>操作用户名</th>
											<th>状态</th>
											<th>详细信息</th>
											<th>操作时间</th>
										</tr>
									</thead>
									<tbody id="tBody">
									    <tr th:each="log:${operecords}">
									        <td th:text="*{log.resourceId}"></td>
									        <td th:text="*{log.resourceType}"></td>
									        <td th:text="*{log.Operation}"></td>
									        <td th:text="*{log.userId}"></td>
									        <td th:text="*{log.userName}"></td>
									        <td th:text="*{log.status}"></td>
									        <td th:text="*{log.message}"></td>
									        <td th:text="*{log.operateTime}"></td>
									    </tr>
									</tbody>
								</table>							
							</div>
						</div>				
					</div>
				</div>
				<div id="common-footer">
				</div>
			</div>
		</div>
		
		<script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/jquery.ui.custom.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.uniform.js}"></script>
        <script th:src="@{/js/select2.min.js}"></script>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/js/commonDisplay.js}" id="commonScript" menu="41"></script>
        <script th:src="@{/js/unicorn.js}"></script>
        <script th:src="@{/js/unicorn.tables.js}"></script>
	</body>
</html>
