<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		<div id="content">
			<div id="content-header">
				<h2>报警</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="报警">报警</a>
			</div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a target="/alarm/templatelist" data-toggle="tab" >报警规则</a>
				</li>
				<li>
					<a target="/hostgroup/list" data-toggle="tab">主机组</a>
				</li>
				<li>
					<!-- <a href="#userTemplate" data-toggle="tab" >用户</a> -->
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
			
			</div>
			<div class="common-footer">
				<div th:include="/public/commonframe::app-footer"></div>
			</div>
		</div>	
		<div th:include="/public/commonframe::jsScript(activeMenuNumber=43)" ></div>
		<script type="text/javascript">
			$(document).ready(function(){ 
			　　$.get("/alarm/templatelist",function(data){ //初始將a.html include div#iframe
					$('#myTabContent').html(data);
				}); 
			
				$(function(){
					$(".nav-tabs li").click(function(){
						var $this= $(this);
						_clickTab = $this.find('a').attr('target');
						 $.get(_clickTab,function(data){
							$('#myTabContent').html(data);
							
						}); 
					});
				});
			});  
			//规则
			//删除规则
			 function deleteTemplate(id){
				 alert("您确定删除该规则吗？");
				 $.ajax({
					 url:"/alarm/delete/"+id,
					 data:{
						 id:id
					 },
				 	 type:"delete",
				 	 dataType:"json",
				 	 success:function(data){
				 		var redata = eval(data);
						$.get("/alarm/templatelist",function(data){
							$('#myTabContent').html(data);
						});
				 	 }
				 });
			 }
			 //搜索规则
			 function getTemplatByName(){
				var templateName = $("#searchTemplate").val();
				 $.ajax({
					url:"/alarm/search",
					data:{
						templateName : templateName
					},
					type:"post",
					dataType:"json",
					success:function(data){
						var templateList = eval(data.result);
						//alert(templateList);
						$("#hostTbody").empty();
						$.each(templateList,function(k,v){
							var tr = '<tr>'
								+'<td>'+v.id+'</td>'
								+'<td>'+v.templateName+'</td>'
								+'<td>'+v.creatorName+'</td>'
								+'<td>'+v.templateType+'</td>'
								+'<td>'+v.createTime+'</td>	'
								+'<td><a title="单击查看规则" th:href="@{/alarm/edit(templateType='+v.templateType+',templateId='+v.id+')}" class="tip-top">编辑</a>&nbsp;&nbsp;'
								+'<a title="单击删除规则" onclick="deleteTemplate('+v.id+')" class="tip-top">删除</a></td>'
								+'</tr>';
							$("#hostTbody").append(tr);	
						})
				 	 }
				})  
			 }
			
			
			 //主机组
			 //删除主机组
			 function deleteHostGroup(id){
				 alert("您确定删除该组吗？");
				 $.ajax({
					 url:"/hostgroup/delete/"+id,
					 data:{
						 id:id
					 },
				 	 type:"delete",
				 	 dataType:"json",
				 	 success:function(data){
				 		var redata = eval(data);
						$.get("/hostgroup/list",function(data){
							$('#myTabContent').html(data);
						});
				 	 }
				 });
			 }
			 //修改主机组名
			 function editHostGroup(id){
				 bootpopup.prompt("主机组名", function(data) {
					 //alert(data);
					 var hostGroupInfoBasic = new Object();
					 hostGroupInfoBasic.id = id;
					 hostGroupInfoBasic.hostGroupName = data;
					 $.ajax({
						 url:"/hostgroup/modify",
					 	data:JSON.stringify(hostGroupInfoBasic),
					 	contentType : 'application/json;charset=utf-8',
					 	type:"post",
					 	dataType:"json",
					 	success:function(res){
					 		$.get("/hostgroup/list",function(data){
								$('#myTabContent').html(data);
							});
					 	}
					 });
				 });
			 }
			 //创建主机组
			 function postHostGroupName(){
				 $.ajax({
					 url:"/hostgroup/create", 
					 data:{
						 hostGropName : $('#hostGroupNameInput').val()
						 }, 
					 type: "post",
					 dataType: "json",
					 success: function(data) {
						var redata = eval(data);
						$.get("/hostgroup/list",function(data){
							$('#myTabContent').html(data);
						});
					 }
				 })
			 }
			 //搜索主机组
			  function searchHostGroup(){
				  var hostGroupName = $("#searchHostGroup").val();
					 $.ajax({
						url:"/hostgroup/search",
						data:{
							hostGroupName : hostGroupName
						},
						type:"post",
						dataType:"json",
						success:function(data){
							var hostGroupList = eval(data.result);
							//alert(templateList);
							$("#hostGroupTbody").empty();
							$.each(hostGroupList,function(k,v){
								var tr = '<tr>'
								+'<td>'+v.id+'</td>'
								+'<td>'+v.hostGroupName+'</td>'
								+'<td>'+v.creatorName+'</td>'
								+'<td>'+v.createTime+'</td>'
								+'<td >'
									+'<div style="width: 200px">'
										+'<table>'
											+'<thead>'
											+'</thead>'
											+'<tbody id="htbody">'
											+'</tbody>'
										+'</table>'
									+'</div>'
								+'</td>'
								+'<td>'
									+'<a title="单击添加主机" class="tip-top">添加主机</a>&nbsp;&nbsp;'
									+'<a title="单击修改组名" onclick="editHostGroup('+v.id+')" class="tip-top">修改</a>&nbsp;&nbsp;'
									+'<a title="单击删除组" onclick="deleteHostGroup('+v.id+')" class="tip-top">删除</a>'
								+'</td>'
							+'</tr>';
								$("#hostGroupTbody").append(tr);	
								
								$("#htbody").empty();
								$.each(v.hostList,function(k,host){
									var trr = '<tr>'
										+'<td>'+host.id+'</td>'
										+'<td>'+host.hostname+'</td>'
										+'<td>'+host.ip+'</td>'
									+'</tr>'
									$("#htbody").append(trr);
								});
								
							})
					 	 }
					}) 
			 }
			 
			 //添加主机
			/*  function bindHostGroup(){
				 $.ajax({
					 url:"/hostgroup/hostbind",
					 data:"",
					 type:"get",
					 dataType:"json",
				 })
			 } */
			 
			 
		</script>
	</body>
</html>
