<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div  style="float:left">
				<a title="创建规则" class="btn tip-bottom" href="/alarm/templatenew"><i class="icon-plus"></i>创建规则</a>
			</div>
			<div class="input-append" style="float:right">
             	<input id="searchTemplate" type="text" placeholder="请输入查询内容"/><button class="btn prepend" onclick="getTemplatByName();"><i class="icon-search"></i> </button>
         	</div>
			<br/>
			<br/>
			<div class="widget-box">
				<div class="widget-title">
					<h5>报警规则</h5>
				</div>
				<div class="widget-content nopadding">
					<table class="table table-bordered data-table" style="table-layout: fixed;">
						 <thead>
							<tr>
								<th data-field="id">ID</th>
								<th data-field="templateName">规则名称</th>
								<th data-field="creatorName">创建者</th>
								<th data-field="templateType">报警类型</th>
								<th data-field="createTime">创建时间</th>
								<th data-field="opration">操作</th>
							</tr>
						</thead>
						<tbody id="hostTbody">
							<tr th:each="template,templateStat:${templateList}">
								<td th:text="${template.id}"></td>
								<td th:text="${template.templateName}"></td>
								<td th:text="${template.creatorName}"></td>
								<td th:text="${template.templateType}"></td>
								<td th:text="${template.createTime}"></td>	
								<td><a title='单击查看规则' th:href="@{/alarm/edit(templateType=${template.templateType},templateId=${template.id})}" class="tip-top">编辑</a>&nbsp;&nbsp;
								<a title='单击删除规则' th:onclick="'deleteTemplate(\''+${template.id}+'\')'" class="tip-top">删除</a></td>
							</tr>
						</tbody>
					</table>  
				</div>
			</div>
		</div>
	</div>
</div>
