<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		<div id="content">
			<div id="content-header">
				<h2>报警</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="报警">报警</a>
			</div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a target="/alarm/templatelist" data-toggle="tab" >报警规则</a>
				</li>
				<li>
					<a target="/hostgroup/list" data-toggle="tab">主机组</a>
				</li>
				<li>
					<a target="/alarmEvent/list" data-toggle="tab" >未恢复报警</a> 
				</li>
				<li>
					<a target="/api/list" data-toggle="tab" >用户组</a> 
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
			
			</div>
			<div class="common-footer">
				<div th:include="/public/commonframe::app-footer"></div>
			</div>
		</div>	
		<div th:include="/public/commonframe::jsScript(activeMenuNumber=43)" ></div>
		<script th:src="@{/js/alarm/alarm.js}"></script>
		<script th:src="@{/js/bootpopup.js}"></script>
	</body>
</html>
