<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
		<div id="common-header"></div>
		
		<div id="content">
			<div id="content-header">
				<h2>编辑规则</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="编辑规则">编辑规则</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid" >
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<!-- <h5>请输入用户信息</h5> -->
							</div>
							<div class="widget-content nopadding"><!-- th:object="${TemplateInfo}" -->
								<form class="form-horizontal" action="#" th:action="" th:object=""  method="post" name="edit_template" id="edit_template" novalidate="novalidate">
                                    <div class="control-group">
                                        <label class="control-label">报警规则名称</label>
                                        <div class="controls">
                                            <input id="templateName" name="templateName" type="text"/>
                                        </div>
                                    </div>
                                    <!-- 根据传入的值判断是主机还是容器，相应显示 -->
                                    <div class="control-group">
                                        <label class="control-label">报警类型</label>
                                        <div class="controls">
                                            <select id="templateType" disabled="disabled">
                                            	<option>容器</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group" id="selectPod" hidden="hide">
										<label class="control-label">选择报警容器</label>
										<div class="controls" id="deploymentInfo" >
											<select id="clusterName" ><!-- th:field="*{deploymentInfo.clusterName}" -->
												<!-- th:field="*{deploymentInfo}" <option th:value="${templateInfo.deploymentInfo.clusterName}" th:text="${templateInfo.deploymentInfo.clusterName}" ></option> -->
												<option>centos-k8s</option>
											</select>
											<select id="hostEnv" >
												<!-- th:field="*{deploymentInfo.hostEnv}" <option th:value="${templateInfo.deploymentInfo.hostEnv}" th:text="${templateInfo.deploymentInfo.hostEnv}"></option> -->
												<option>test</option>
											</select>
											<select id="deploymentName" >
												<!-- th:field="*{deploymentInfo.deploymentName}" <option th:value="${templateInfo.deploymentInfo.deploymentName}" th:text="${templateInfo.deploymentInfo.deploymentName}"></option> -->
												<option>123</option>
											</select>
										</div>
									</div>
                                    
									<div class="control-group">
										<label class="control-label">添加报警逻辑</label>
										<div class="controls">
                                           <a title="添加报警逻辑" class="btn btn-primary" href="javascript:void(0);" onclick="showTemplate();">添加</a>
                                       		<br/>
                                       		<br/>
                                       		<div id="templateList"></div>
										</div>
									</div>
									
									<div class="control-group">
                                        <label class="control-label">指定报警用户</label>
                                        <div class="controls">
                                            <input id="user" type="text" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                    	<a  class="btn tip-bottom" href="/alarm">返回</a>
                                        <input type="submit" value="提交" class="btn btn-primary" />
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>
				<div id="common-footer"></div>
			</div>
		</div>	


		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.ui.custom.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		
		<script th:src="@{/js/jquery.uniform.js}"></script>
		<script th:src="@{/js/select2.min.js}"></script>
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/unicorn.js}"></script>
		<script th:src="@{/js/unicorn.tables.js}"></script>
		<script th:src="@{/js/commonDisplay.js}"></script>
		
		<script type="text/javascript">
		
			function showTemplate(){
				var childdiv=$('<div></div>');  
				childdiv.attr("id","id" + new Date().getTime());
				$("#templateList").append(childdiv);
				childdiv.load("/js/template-strategy.html #strategyInfo");
				
			}
		
		</script>
	</body>
</html>
