<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<link rel="stylesheet" th:href="@{/css/select2.css}" />
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		<div id="content">
			<div id="content-header">
				<h2>添加用户</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="添加用户">添加用户</a>
			</div>
			
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div style="float:left">
							<input id="userGroupId" name="userGroupName" th:value="${userGroupId}" hidden="hidden"/>
							<button id="addUsers" name="addUsers" onclick="showUsers();">添加成员</button>
							<div hidden="hidden" id="edit">
								<button id="noEdit" name="noEdit" onclick="hiddenUsers();">退出编辑</button>
								<select multiple="multiple" class="multiselect" name="users" id="users" style="width: 300px;" required="required">	
									<option th:each="user:${allUsers}" th:value="${user.id}" th:selected="${#strings.contains(userNames,user.username)}"	
									th:text="${user.username}" ></option>
								</select>
								<button class="tip-top" title="添加用户" onclick="bindingUserGroup();"><i class="icon-plus"></i>添加</button>
							</div>
						</div>
						<br/>
						<br/>
						<div class="widget-box">
							<div class="widget-title">
								<h5>主机组</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered" style="table-layout: fixed;">
									<thead>
						    			<tr>
						    				<td width="120px">
						    					<div style="text-align: center;width: 80px">
						    						用户名
						    					</div>
						    				</td>
						    				<td width="120px">
						    					<div style="text-align: center;width: 60px">
						    						邮箱
						    					</div>
						    				</td>
						    				<td width="120px">
						    					<div style="text-align: center;width: 70px">
						    						电话
						    					</div>
						    				</td>
						    				<td width="120px">
						    					<div style="text-align: center;width: 30px">
						    						操作
						    					</div>
						    				</td>
						    			</tr>
						    		</thead>
						    		<tbody id="utbody">
						    			<tr  th:each="u,uStat:${userInfoList}">
						    				<td th:text="${u.username}"></td>
						    				<td th:text="${u.email}"></td>
						    				<td th:text="${u.phone}"></td>
						    				<td><a title="解除绑定" class="btn btn-primary" th:onclick="'unBinding(\''+${userGroupId}+'\',\''+${u.id}+'\')'">解除</a></td>
					    				</tr>
						    		</tbody>
								</table>  
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="common-footer">
				<div th:include="/public/commonframe::app-footer"></div>
			</div>
		</div>	
		<div th:include="/public/commonframe::jsScript(activeMenuNumber=43)" ></div>
		<div th:include="/public/commonframe::jsScript(activeMenuNumber=43)" ></div>
		<script th:src="@{/js/select2.min.js}"></script>
		<script th:src="@{/js/unicorn.form_validation2.js}"></script>
        <script th:src="@{/js/unicorn.tables2.js}"></script>
		<script type="text/javascript">
			
			/* $(document).ready(function() {
				addUsers();
		    }); */
			
			function showUsers(){
				$("#addUsers").click(function(){
	 				$("#addUsers").hide();
	 				$("#edit").show();
	             });
			}
		    function hiddenUsers(){
		    	$("#noEdit").click(function(){
	 				$("#edit").hide();
	 				$("#addUsers").show();
	             });
		    }
		
			function bindingUserGroup(){
				var userList = new Array();
				$.each($("#users option:selected"),function(){
					var user = new Object();
					user.id = $(this).val();
					user.username = $(this).text();
					userList.push(user);
				})
				var userGroupId = $("#userGroupId").val();
				$.ajax({
					 url:"/api/alarm/usergroup/bind/"+userGroupId, 
					 data:JSON.stringify(userList), 
					 type: "post",
					 dataType: "json",
					 contentType : 'application/json;charset=utf-8',
					 success: function(data) {
						window.location.reload();
					 }
					 
				})
			}
			
			function unBinding(id,userId){
				$.ajax({
					 url:"/api/alarm/usergroup/bind/"+id+"/"+userId, 
					 type: "delete",
					 dataType: "json",
					 contentType : 'application/json;charset=utf-8',
					 success: function(data) {
						window.location.reload();
					 }
					 
				})
			}
		
		</script>
	</body>
</html>