<!DOCTYPE html>
<html lang="zh">
	<head>
		<title>PaaS云管理平台</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />	
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/timeline.css}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>
		
		
		<div id="common-header"></div>
		
		<div id="content">
			<div id="content-header">
				<h2>总览</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current"><i class="icon-home"></i>总览</a>
			</div>
			<div class="container-fluid">
				
				<div class="row-fluid" style="margin-top:10px;margin-bottom:-10px">
					<div class="span12">
						<div class="alert alert-info">
							欢迎  <strong> <span class="text" th:text="${user.username}"></span> </strong>登录系统. 你可以通过总览界面了解系统总体运行情况
							<a href="#" data-dismiss="alert" class="close">×</a>
						</div>
						
					</div>
				</div>
				
				<div class="row-fluid" style="margin-top:0px">
					<div class="span6" style="width:58%;min-width:500px">
						<div class="widget-box" >
							<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>使用情况概览</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> 刷新</a></div></div>
							<div class="widget-content">
								<div class="row-fluid" style="margin-top:0px">
									<div class="span4" style="width:48%">
										
										<ul class="site-stats" >
											<li style="height:160px">
												<div class="datashow-chart" id="chart-app" style="height:160px;background-color:grey"></div>
											</li>
											
											<li style="height:160px">
												<div class="datashow-chart" id="chart-pod" style="height:160px;background-color:grey"></div>
											</li>
										</ul>
									</div>
									<div class="span4" style="width:48%">
										<ul class="site-stats" >
											<li style="height:160px">
												<div class="datashow-chart" id="chart-service" style="height:160px;background-color:grey"></div>
											</li>
											<!-- <li style="height:90px">
												<strong>容器</strong>
												<div style="float:right"> 
												运行中: 3 
												<br/>已停止 : 2
												<br/>操作中: 0
												</div>
											</li> -->
										</ul>
										
									</div>
								</div>							
							</div>
						</div>	
					</div>
					
					<div class="span6" style="width:38%;min-width:350px">
						<div class="widget-box">
							<div class="widget-title"><span class="icon"><i class="icon-file"></i></span><h5>审计日志</h5><div class="buttons"><a href="/opeloglist" class="btn btn-mini"><i class="icon-search"></i> 查看全部</a></div></div>
							<div class="widget-content nopadding" style="height:385px">
								<div class="content" style="width:160%">
								<article >
									<section th:each="operecord : ${operecords}">
										<span class="point-time point-green"></span>
										<time datetime="">
											<span th:text="${operecord.operateTime.substring(0,10)}"></span>
											<span th:text="*{operecord.operateTime.substring(10,19)}"></span>
										</time>
										<aside>
											<p class="things" th:text="*{operecord.resourceId+' '+operecord.message}"></p>
											<p class="brief"><span class="text-yellow" th:text="*{operecord.userName}"></span> </p>
										</aside>
									</section>
									
								</article>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="span6" style="width:58%;min-width:500px">
						<div class="widget-box" >
							<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>资源概览</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> 刷新</a></div></div>
							<div class="widget-context">
								<div class="row-fluid">
									<div class="span4" style="width:48%">
										<ul class="site-stats" >
											<li style="height:160px">
												<div class="datashow-chart" id="chart-mem" style="height:160px;background-color:grey"></div>
											</li>
											
											<li style="height:160px">
												<div class="datashow-chart" id="chart-disk" style="height:160px;background-color:grey"></div>
											</li>
										</ul>
									</div>
									
									<div class="span4" style="width:48%">
										<ul class="site-stats" >
											<li style="height:160px">
												<div class="datashow-chart" id="chart-cpu" style="height:160px;background-color:grey"></div>
											</li>
											<li style="height:160px">
												<div class="datashow-chart" id="chart-host" style="height:160px;background-color:grey"></div>
											</li>
										</ul>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span6" style="width:38%;min-width:350px">
						<div class="widget-box">
							<div class="widget-title"><span class="icon"><i class="icon-comment"></i></span><h5>告警信息</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-search"></i> 查看全部</a></div></div>
							<div class="widget-content nopadding" style="height:380px">
								<div class="content" style="width:160%">
								<article>
									<section>
										<span class="point-time point-red"></span>
										<time datetime="2017-08-10">
											<span>2017/08/07</span>
											<span>09:00</span>
										</time>
										<aside>
											<p class="things"><span class="text-red">CPU使用率大于80%</span></p>
											<p class="brief"><span class="text-red">2天前</span> </p>
										</aside>
									</section>
									<section>
										<span class="point-time point-red"></span>
										<time datetime="2017-08-10">
											<span>2017/07/29</span>
											<span>15:00</span>
										</time>
										<aside>
											<p class="things"><span class="text-red">内存使用率大90%</span></p>
											<p class="brief"><span class="text-red">5天前</span> </p>
										</aside>
									</section>
								</article>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="common-footer">
				</div>
			</div>
		</div>
		

            <script th:src="@{/js/excanvas.min.js}"></script>
            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/jquery.ui.custom.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/jquery.peity.min.js}"></script>
            <script th:src="@{/js/unicorn.js}"></script>
            <script th:src="@{/js/commonDisplay.js}" id="commonScript" menu="1"></script>
            
			<script th:src="@{/highcharts/js/highcharts.js}"></script>
            <script th:src="@{/highcharts/js/chart-app.js}"></script>
            <script th:src="@{/highcharts/js/chart-pod.js}"></script>
            <script th:src="@{/highcharts/js/chart-service.js}"></script>
            <script th:src="@{/highcharts/js/chart-mem.js}"></script>
            <script th:src="@{/highcharts/js/chart-disk.js}"></script>
            <script th:src="@{/highcharts/js/chart-cpu.js}"></script>
			<script th:src="@{/highcharts/js/chart-host.js}"></script>
			
			
	</body>
</html>
