<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div id="common-header">
		</div>
		<div id="content">
			<div id="content-header">
				<h2>新建应用</h2>
			</div>
			<div id="breadcrumb">
				<a href="/app" class="tip-bottom" title="应用管理">应用管理</a>
				<a href="#" class="current" title="新建应用">新建应用</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>创建应用</h5>
							</div>
							<div class="widget-content">
								<form action="/app/new" method="get" class="form-horizontal">
									<div class="control-group">
	                                        <label class="control-label">应用名称</label>
	                                        <div class="controls">
	                                            <input class="normaltext" type="text" placeholder="输入应用名称（字母数字）..." style="font-style: italic;font-size: 12px"/>
	                                        </div>
		                            </div>
		                            <div class="control-group">
                                        <label class="control-label">应用描述</label>
                                        <div class="controls">
                                            <textarea rows="3" cols="5"></textarea>
                                        </div>
	                                </div>
	                                <div class="control-group">
                                        <label class="control-label">物理集群</label>
                                        <div class="controls">
                                            <select>
												<option>集群1</option>
												<option>集群2</option>
												<option>集群3</option>
											</select>
                                        </div>
	                                </div>
	                                <div class="control-group">
                                        <label class="control-label">逻辑集群</label>
                                        <div class="controls">
                                            <select>
												<option>开发环境</option>
												<option>测试环境</option>
											</select>
                                        </div>
	                                </div>
	                                <div class="control-group">
                                        <label class="control-label">namespace</label>
                                        <div class="controls">
                                            <select>
												<option>default</option>
											</select>
                                        </div>
	                                </div>
	                                <div class="form-actions" style="text-align: left;padding-left: 40%">
										<button type="submit" class="btn btn-primary">保存</button>&nbsp;&nbsp;&nbsp;
										<button class="btn btn-primary" onclick="javascript:window.location.href='/app'" type="button">取消</button>
									</div>
									 
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="common-footer">
					
				</div>
			</div>
		</div>
	</body>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.ui.custom.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/unicorn.js}"></script>
	<script th:src="@{/js/commonDisplay.js}"></script>
</html>
