<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		<div id="content">
			<div id="content-header">
				<h2>新建应用</h2>
			</div>
			<div id="breadcrumb">
				<a href="/app" class="tip-bottom" title="应用管理">应用管理</a>
				<a href="#" class="current" title="新建应用">新建应用</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>创建应用</h5>
							</div>
							<div class="widget-content">
								<form method="POST" class="form-horizontal" id="createAppFrom" onsubmit="createApp();return false;">
									<input id="edit" type="hidden" th:value="${#httpServletRequest.getParameter('edit')}"/>
									<div class="control-group">
	                                        <label class="control-label">应用名称</label>
	                                        <div class="controls">
	                                            <input class="normaltext" name="appCode" 
	                                            type="text" placeholder="输入应用名称（字母数字）..." 
	                                            style="font-style: italic;font-size: 12px"
	                                            th:value="${#httpServletRequest.getParameter('appCode')}"/>
	                                        </div>
		                            </div>
		                            <div class="control-group">
                                        <label class="control-label">应用描述</label>
                                        <div class="controls">
                                            <textarea rows="3" cols="5" name="description"
                                            th:text="${#httpServletRequest.getParameter('description')}"></textarea>
                                        </div>
	                                </div>
	                                <div class="control-group">
                                        <label class="control-label">物理集群</label>
                                        <div class="controls">
                                            <select name="clusterId">
												<option 
												th:selected="(${#httpServletRequest.getParameter('clusterId')} == cluster01)" value="demok8s">demok8s</option>
<!-- 												<option
												th:selected="(${#httpServletRequest.getParameter('clusterId')} == cluster02)" value="cluster02">集群2</option>
												<option
												th:selected="(${#httpServletRequest.getParameter('clusterId')} == cluster03)" value="cluster03">集群3</option> -->
											</select>
                                        </div>
	                                </div>
	                                <div class="control-group">
                                        <label class="control-label">逻辑集群</label>
                                        <div class="controls">
                                            <select name="hostLabel">
												<option 
												th:selected="(${#httpServletRequest.getParameter('hostLabel')} == devEnv)" value="host1">逻辑集群1</option>
												<option 
												th:selected="(${#httpServletRequest.getParameter('hostLabel')} == testEnv)" value="host2">逻辑集群2</option>
											</select>
                                        </div>
	                                </div>
	                                <div class="control-group">
                                        <label class="control-label">namespace</label>
                                        <div class="controls">
                                            <select name="namespace">
												<option value="default" selected="selected">default</option>
											</select>
                                        </div>
	                                </div>
	                                <div class="form-actions" style="text-align: left;padding-left: 40%">
										<button type="submit" class="btn btn-primary">保存</button>&nbsp;&nbsp;&nbsp;
										<button class="btn btn-primary" onclick="javascript:window.location.href='/app'" type="button">取消</button>
									</div>
									 
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="common-footer">
					<div th:include="/public/commonframe::app-footer"></div>
				</div>
			</div>
		</div>
	</body>
	<div th:include="/public/commonframe::jsScript(activeMenuNumber=3)" ></div>
	<script type="text/javascript" th:src="@{/js/app/app-new.js}"></script>
</html>
