<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>
		
		
		<div id="header">
			<h1><a href="./dashboard.html">Unicorn Admin</a></h1>		
		</div>
		
		<div id="search">
			<input type="text" placeholder="Search here..." /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
				<a href="#" class="visible-phone"><i class="icon icon-th-title"></i>应用管理</a>
				<ul>
					<li><a href="index.html"><i class="icon icon-home"></i> <span>总览</span></a></li>
					<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>全局配置</span></a></li>
					<li class="active"><a href="/app"><i class="icon icon-th-list"></i> <span>应用管理</span></a></li>
					
					<li class="submenu">
						<a href="#"><i class="icon icon-file"></i> <span>报警监控</span> <span class="label">3</span></a>
						<ul>
							<li><a href="invoice.html">用户操作日志</a></li>
							<li><a href="chat.html">监控管理</a></li>
							<li><a href="calendar.html">报警管理</a></li>
						</ul>
					</li>
				</ul>
			</div>
		
		<div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
		</div>
		
		<div id="content">
			<div id="content-header">
				<h1>新建应用</h1>
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="/app" class="tip-bottom" title="应用管理">应用管理</a>
				<a href="#" class="current" title="新建应用">新建应用</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>创建应用</h5>
							</div>
							
							<div class="widget-content">
								<div style="padding-left: 30%">
									<span class="label label-info">应用名称</span>&nbsp;
									<input type="text" placeholder="输入应用名称（字母数字）..." style="font-style: italic;font-size: 12px"/>
								</div>
								<div style="padding-left: 30%">
									<span class="label label-info">应用描述</span>&nbsp;
									<textarea rows="3" cols="5"></textarea>
								</div>
								<div style="padding-left: 30%">
									<span class="label label-info">物理集群</span>&nbsp;
									<div class="btn-group">
									  <button class="btn">集群1</button>
									  <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
									  <ul class="dropdown-menu">
										<li><a href="#">集群1</a></li>
										<li><a href="#">集群2</a></li>
										<li><a href="#">集群3</a></li>
									  </ul>
									</div>
								</div>
								<br/>
								<div style="padding-left: 30%">
									<span class="label label-info">逻辑集群</span>&nbsp;
									<div class="btn-group">
									  <button class="btn">开发环境</button>
									  <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
									  <ul class="dropdown-menu">
										<li><a href="#">开发环境</a></li>
										<li><a href="#">测试环境</a></li>
									  </ul>
									</div>
								</div>
								<br/>
								<div style="padding-left: 40%">
									<div>
										<div class="buttons">
											<a title="完成" class="btn" href="app-mgmt.html"><i class="icon-ok-sign"></i>完成</a>
											<a title="取消" class="btn" href="app-mgmt.html"><i class="icon-remove-sign"></i>取消</a>
										</div>
									</div>
										
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div id="footer" class="span12">
						2012 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
					</div>
				</div>
			</div>
		</div>
		
		
            
            <script src="js/jquery.min.js"></script>
            <script src="js/jquery.ui.custom.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/unicorn.js"></script>
	</body>
</html>
