<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div id="common-header">
			
		</div>
		<div id="content">
			<div id="content-header">
				<h2>应用管理</h2>
			</div>
			<div id="breadcrumb">
				<a href="#" class="current tip-bottom" title="应用管理">应用管理</a>
			</div>
			<div id="search" style="padding-top: 96px;padding-left: 53%;">
			<form action="/app/search" method="post">
				<input name="appCode" type="text" placeholder="输入应用名称查询..." style="font-size: 11px;font-style: italic;color: white"/>
				<button type="submit" class="tip-top" title="Search" ><i class="icon-search icon-white"></i></button>
			</form>	
			</div>
			<div class="buttons" style="padding-top: 1%;padding-left: 2%">
				<a title="创建应用" class="btn tip-bottom" href="/app/app-new"><i class="icon-plus"></i>创建应用</a>
				<a title="删除应用" class="btn tip-bottom" href="#"><i class="icon-remove"></i>删除</a>
			</div>	
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<h5>应用列表</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered data-table with-check" style="table-layout: fixed;">
									<thead>
										<tr>
											<th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
											<th>应用名称</th>
											<th>状态</th>
											<th>逻辑集群</th>
											<th>物理集群</th>
											<th>创建时间</th>
											<th>应用描述</th>
							
										</tr>
									</thead>
									<tbody id="tBody">
									    <tr th:each="app,itState:${appList}">
									    	<td><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></td>
									        <td><a title='单击查看服务列表' th:href="@{/app/service-mgmt(appCode=${app.appCode},hostLabel=${app.hostLabel},namespace=${app.namespace})}" th:text="${app.appCode}" class="tip-top"></a></td>
									        <td th:text="${app.state}"></td>
									        <td th:text="${app.hostLabel}"></td>
									        <td th:text="${app.clusterId}"></td>
									       <!-- <td><i class="icon-list-alt tip-top" title="点击查看地址"></i></td> --> 
									        <td th:text="${app.createTime}"></td>
									        <td th:text="${app.description}"></td>
									    </tr>
									</tbody>
								</table>							
							</div>
						</div>				
					</div>
				</div>
				<div id="common-footer">
				</div>
			</div>
		</div>
		
		<script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/jquery.ui.custom.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.uniform.js}"></script>
        <script th:src="@{/js/select2.min.js}"></script>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/js/commonDisplay.js}" id="commonScript" menu="3"></script>
        <script th:src="@{/js/unicorn.js}"></script>
        <script th:src="@{/js/unicorn.tables.js}"></script>
	</body>
</html>
