<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		<div id="content">
			<div id="content-header">
				<h2>服务管理</h2>
			</div>
			<div id="breadcrumb">
				<a href="/app" class="tip-bottom">应用管理</a>
				<a th:href="@{'/app/service/'+${serviceInfo.appId}}" class="tip-bottom" th:text="${serviceInfo.appCode}"></a>
				<a href="#" class="current" th:text="${serviceInfo.serviceCode}"></a>
				<input type="hidden" id="serviceID" th:value="${serviceInfo.id}" />
				<input type="hidden" id="currentVersion" th:value="${serviceInfo.ver}" />
			</div>
			<div class="filletDiv">
				<div class="upFillet">
					<div class="filletLi" style="float: left">
					<ul>
						<li style="list-style-type: none">实例个数</li>
						<li style="list-style-type: none">3个</li>
					</ul>
				</div>
				<div class="filletLi" style="float: left">
					<ul>
						<li style="list-style-type: none">当前版本</li>
						<li style="list-style-type: none" th:text="${serviceInfo.ver}"></li>
					</ul>
				</div>
				<div class="filletLi" style="float: left">
					<ul>
						<li style="list-style-type: none">状态</li>
						<li  id="infoServicestate" style="list-style-type: none" th:text="${serviceInfo.state}"></li>
					</ul>
				</div>
				<div class="filletLi" style="float: left">
					<a title="启动" class="btn btn-primary btn-mini tip-bottom" href="#startServiceDisplays" onclick="infoStartService();"><i class="icon-play"></i>启动</a>
					<a title="升级/回滚" class="btn btn-primary btn-mini tip-bottom" href="#updateRollbacks" onclick="infoRollback();"><i class="icon-repeat"></i>升级/回滚</a>
					<a title="扩容/缩容" class="btn btn-primary btn-mini tip-bottom" href="#scaleUpDowns" onclick="infoScale();"><i class="icon-resize-small"></i>扩容/缩容</a>
					<a title="停止" class="btn btn-primary btn-mini tip-bottom" onclick="infoStopService();"><i class="icon-off"></i>停止</a>
				</div>
				</div>
			</div>

			<div class="container-fluid" style="width: $(window).height()?-?320">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<ul id="myTab" class="nav nav-tabs">
								<li class="active">
							        <a href="#sInfo" data-toggle="tab" class="fontSizeControl">服务详情</a>  
							    </li>
								<li>
									<a href="#sExample" data-toggle="tab" class="fontSizeControl" th:onclick="'getInstenceByServiceId(\''+${serviceInfo.id}+'\')'">服务实例</a>
								</li>
								<li>
									<a href="#sEvent" data-toggle="tab" class="fontSizeControl" th:onclick="'getEventByServiceId(\''+${serviceInfo.id}+'\')'">服务事件</a>
								</li>
								<li><a href="#sUpgrade" data-toggle="tab" class="fontSizeControl">升级配置</a></li>
								<li><a href="#sPort" data-toggle="tab" class="fontSizeControl">负载</a></li>
							</ul> 
						  
						<div id="myTabContent" class="tab-content">  
						    <div class="tab-pane fade in active" id="sInfo">
						    	<div>
							    	<div style="padding-bottom:4px;">
							    		<span class="deploySpan">部署版本</span>
							    		<span class="deploySpan">
							    			<select style="width: 10%" id="depVersion" onChange="changeVersion()">
											</select>
							    		</span>
							    		<span class="deploySpan" id="fqbutton">
							    			<a title="停止" class="btn btn-primary btn-mini tip-bottom" onclick="deprecate()">废弃</a>
							    			<font style="font-size: 13px;">废弃的版本不能再运行</font>
							    		</span>
							    		<span class="deploySpan" id="qybutton" style="display:none">
							    			<a title="停止" class="btn btn-primary btn-mini tip-bottom" onclick="enableVersion()">启用</a>
							    			<a title="停止" class="btn btn-primary btn-mini tip-bottom" onclick="deleteVersion()">删除</a>
							    		</span>
							    	</div>
							    	<div  id="versionDetail" >
										
									</div>
						    	</div> 
						    </div>
						      
						    <div class="tab-pane fade" id="sExample">  
						         <div class="control-group">
					                                <div class="row-fluid">
													<div class="span12">
														<div class="widget-box">
															<div class="widget-title">
																<h5>挂载列表</h5>
															</div>
															<div class="widget-content nopadding" style="height: 10%;">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>实例名称</th>
																			<th>状态</th>
																			<th>镜像</th>
																			<!-- <th>地址</th> -->
																			<th>创建时间</th>
																			<th>日志</th>
																	</tr>
																	</thead>
																	<tbody id="podTBody">
																	  
																	</tbody>
																</table>							
														</div>
													</div>				
												</div>
												</div>
				                                </div>  
						    </div> 
						     
						     <div class="tab-pane fade" id="sEvent">  
						         <div class="control-group">
					                                <div class="row-fluid">
													<div class="span12">
														<div class="widget-box">
															<div class="widget-title">
																<h5>事件列表</h5>
															</div>
															<div class="widget-content nopadding" style="height: 10%;">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>操作类型</th>
																			<th>起始时间</th>
																			<th>更新时间</th>
																			<th>操作结果</th>
																			<th>操作用户</th>
																			<!-- <th>地址</th> -->
																			<th>描述</th>
																	</tr>
																	</thead>
																	<tbody id="eventTBody">
																	  
																	</tbody>
																</table>							
														</div>
													</div>				
												</div>
												</div>
				                                </div>  
						    </div>
						     
						    <div class="tab-pane fade" id="sUpgrade">  
						    	<div>
						    		<div>
							    		<span class="deploySpan">添加镜像</span>
							    		<span class="deploySpan">
	                                        <a href="#myModal" data-toggle="modal" class="btn btn-primary btn-mini" style="font-size: 13px;">添加</a>
                                            <a title="点击添加按钮，在弹出的页面中，输入
												镜像名称进行查询，被选中的镜像会显示在
												镜像列表里，单击每个镜像进行配置。" class="tip-top">
												<i class="icon-question-sign"></i>
											</a>
							    		</span>
						    		</div>
						    		
						    	</div>
						    	<div class="control-group">
										<div class="widget-content ">										
										<table class="table table-bordered image-table display" style="width:90%;table-layout: fixed; ">
											<thead>
												<tr>
													<th class="i10">镜像名称</th>
													<th class="i20">镜像仓库</th>
													<th class="i30">版本</th>
													<th class="i40">配置</th>
												</tr>
											</thead>
											<tbody id="tBody1">
											    <tr th:each="images,itState:(${versions==null?versions:versions[0].containerDrafts})" >
											        <td class="i10" th:text="${images.image}"></td>
											        <td class="i20" th:text="${images.registry}"></td>
											        <td class="i30" th:text="${images.tag}"></td>
											        <td class="i40">
														<a title="配置" class="tip-bottom iconOperation" data-target="#service-new3" data-toggle="modal" onclick="showImageConfiguration(null);"><i class="icon-edit"></i><span>配置</span></a>&nbsp;&nbsp;&nbsp;
								        				<a title="删除" class="tip-bottom iconOperation" href="'deleteImage(123)'"><i class="icon-trash"></i><span>删除</span></a>
													</td>
											    </tr>
											</tbody>
										</table>							
										</div>
	                                </div>
	                                <div style="text-align: center;">
										<button class="btn-mini btn-primary cancleService" type="button">取消</button>&nbsp;&nbsp;&nbsp;
										<button id="versionUpdate" class="btn-mini btn-primary" type="button">确定</button>
									</div>
						    </div>  
						
							<div class="tab-pane fade" id="sPort"> 
								
								<a class="btn" href="#sPortMappedModel" data-toggle="modal"><span style="font-size: 13px;">创建负载均衡器</span></a>
						    </div>
						</div>	
						
						<div id="myModal" class="modal hide">
							<div class="modal-header">
								<button data-dismiss="modal" class="close" type="button">×</button>
								<h3>选择镜像</h3>
							</div>
							<div class="modal-body">
	                            <div style="padding-bottom: 6%;">
	                                <label class="modalStyle" style="padding-right: 10px;">镜像仓库</label>
	                                <label class="modalStyle" id="registry">http://123.com</label>
	                            </div>
	                            <div>
	                            	<label class="modalStyle" style="padding-right: 10px;">选择镜像</label>
                                 	<div class="input-append">
					            		<input class="global_filter" id="global_filter" type="text" placeholder="请输入查询内容" style="font-style: italic;font-size: 13px"/><button class="btn prepend" type="button"><i class="icon-search"></i> </button>
					            	</div> 
	                             </div>
	                             
	                            <div class="control-group">
	                                <div class="row-fluid">
									<div class="span12">
										<div class="widget-box">
											<div class="widget-title">
												<h5>镜像列表</h5>
											</div>
											<div class="widget-content nopadding">
												<table class="table table-bordered image-table display" style="width: 100%;table-layout: fixed;">
													<thead>
														<tr>
															<th style="width: 26%;">选择</th>
															<th style="width: 26%;">镜像仓库</th>
															<th style="width: 26%;">镜像名称</th>
															<th style="width: 26%;">版本</th>
														</tr>
													</thead>
													<tbody id="tImageBody">
													<tr>
														<td style="width: 26%;"><input type="checkbox"/></td>
														<td id="registry" style="width: 26%;" ></td>
														<td id="id" style="width: 26%;" >nginx</td>
														<td id="versions" style="width: 26%;">
																<select name="versions">
																	<option value="latest">latest</option>
																</select>
															
														</td>
													</tr>
													<tr>
														<td style="width: 26%;"><input type="checkbox"/></td>
														<td id="registry" style="width: 26%;" ></td>
														<td id="id" style="width: 26%;" >tomcat</td>
														<td id="versions" style="width: 26%;">
																<select name="versions">
																	<option value="latest">latest</option>
																</select>
															
														</td>
													</tr>
													<tr>
														<td style="width: 26%;"><input type="checkbox"/></td>
														<td id="registry" style="width: 26%;" >http://123.com</td>
														<td id="id" style="width: 26%;" >dev-java</td>
														<td id="versions" style="width: 26%;">
																<select name="versions">
																	<option value="8.0">8.0</option>
																	<option value="9.0">9.0</option>
																</select>
															
														</td>
													</tr>
													<tr>
														<td style="width: 26%;"><input type="checkbox"/></td>
														<td id="registry" style="width: 26%;" >http://123.com</td>
														<td id="id" style="width: 26%;" >mysql</td>
														<td id="versions" style="width: 26%;">
																<select name="versions">
																	<option value="6.0">6.0</option>
																	<option value="7.0">7.0</option>
																	<option value="8.0">8.0</option>
																</select>
															
														</td>
													</tr>
													    <!-- <tr th:each="image,itState:${chooseImagesList}">
													    	<td style="width: 33%;"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></td>
													        <td style="width: 33%;" th:text="${image.id}"></td>
													        <td style="width: 33%;" th:text="${image.version}"></td>
													    </tr> -->
													</tbody>
												</table>							
											</div>
										</div>				
									</div>
									</div>
	                               </div>
	                                <div style="text-align: left;padding-left: 35%">
										<button class="btn-mini btn-primary cancleService" type="button">取消</button>&nbsp;&nbsp;&nbsp;
										<button id="imagesbtn" class="btn-mini btn-primary" type="button">确定</button>&nbsp;&nbsp;&nbsp;
									</div>
								</div>
							</div>	
							
							<div class="modal hide" id="service-new3">
									<div class="modal-header">
										<button data-dismiss="modal" class="close" type="button">×</button>
										<h3>配置镜像</h3>
									</div>
									<div class="modal-body">
										<input id="uniqueImage" type="hidden" />
										<input id="registryConfig" type="hidden" />
										<input id="imageConfig" type="hidden" />
										<div style="padding-top: 10px;">
		                                    <label class="modalStyle" style="padding-right: 10px;">镜像版本</label>
		                                    <span class="modalStyle">
								    			<select  id="tagConfig" class="modalStyle">
													<option value="1.0">1.0</option>
													<option value="latest">latest</option>	
												</select>
						    				</span>
		                                </div>
										<div style="padding-top: 40px;">
		                                    <label class="modalStyle" style="padding-right: 10px;">挂载存储</label>
	                                        <a title="添加挂载存储" class="tip-bottom" href="javascript:void(0);" onclick="showStorage();"><i class="icon-plus"></i></a>
	                                    		<br/>
	                                    		<br/>
	                                    		<div id="storages">
	                                    			
	                                    		</div>
	                                    		<br/>
		                                </div>
										<div>
		                                    <label class="modalStyle" style="padding-right: 10px;">启动命令</label>
		                                    <input id="startCommands" class="modalStyle" type="text"/>
		                                </div>
										<div style="padding-top: 40px;">
		                                    <label class="modalStyle" style="padding-right: 10px;">环境变量</label>
											<input id="envvar" class="modalStyle" type="text" placeholder="环境变量以键值对key=value形式保存，以逗号,分割" style="font-style: italic;font-size: 13px"/>
		                                </div>
		                                <div style="padding-top: 40px;">
		                                	<label class="modalStyle" style="padding-right: 10px;">容器大小</label>
	                                	 	<span class="modalStyle">CPU(个)<input id="cpus" type="number" class="combine tip-top"/></span>&nbsp;&nbsp;&nbsp;
											<span class="modalStyle">内存(MB)<input id="mems" type="number" class="combine tip-top"/></span>
		                                </div>
										<div style="float: right;">
											<button id="btncancel3pre" class="btn-primary btn-mini cancleService" type="button">取消</button>&nbsp;&nbsp;&nbsp;
											<button id="btnnew3pre" class="btn-primary btn-mini" type="button">确定</button>
										</div>
									</div>
								</div>		
					</div>
				</div>
				<div id="sPortMappedModel" class="modal hide">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>创建负载均衡器</h3>
					</div>
					<div class="modal-body">
				    	<div>
				    		<div style="padding-bottom: 6%;">
				    			<label class="modalStyle" style="padding-right: 10px;">是否对外发布</label>
	                           	<label class="modalStyle"><input class="radioItem" type="radio" name="publishRadios" value="1"/>是</label>
								<label class="modalStyle"><input class="radioItem" type="radio" name="publishRadios" value="2" checked="checked"/>否</label>
				    		</div>
				    		<div class="portMappes" style="display: none">
			    				<label style="float: left;padding-right: 10px;font-size: 13px;">端口映射</label>
                           		<a title="添加端口映射" class="tip-bottom" href="javascript:void(0);" style="float: left;padding-left: 30px;" onclick="showPortMapped();">
                           			<i class="icon-plus"></i>
                           		</a>
                           		<br/>
                           		<br/>
                           		<div id="portMapped">
                           		
                           		</div>
			    			</div>
				    		<div style="float: right">
								<button class="btn-primary btn-mini" type="button" data-dismiss="modal">取消</button>&nbsp;&nbsp;&nbsp;
								<button id="btnnew2pre" class="btn-primary btn-mini" type="button">确定</button>
							</div>
				    	</div>
	               	</div>
	            </div>
	            
	            <div class="modal hide" id="startServiceDisplays">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>启动服务</h3>
					</div>
					<div class="modal-body">
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">选择版本</label>
                            <label><select id="selectStartVersionNumbers"></select></label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">启动实例个数</label>
                            <label><input id="wishStartInstanceNumbers" type="text"/></label>
                        </div>
						<div style="float: right;">
							<button class="btn-primary btn-mini cancleStartServices" type="button">取消</button>&nbsp;&nbsp;&nbsp;
							<button id="startServiceSubmits" class="btn-primary btn-mini" type="button">确定</button>
						</div>
					</div>
				</div>
				
				<div class="modal hide" id="updateRollbacks">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>升级回滚</h3>
					</div>
					<div class="modal-body">
						<div>
                            <label class="modalStyle" style="padding-right: 10px;">当前版本</label>
                            <label><span id="currentVersionNumbers"></span></label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">选择版本</label>
                            <label><select id="selectVersionNumbers"></select></label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">启动实例个数</label>
                            <label><input id="wishInstanceNumbers" type="text"/></label>
                        </div>
						<div style="float: right;">
							<button class="btn-primary btn-mini cancleUpgrades" type="button">取消</button>&nbsp;&nbsp;&nbsp;
							<button id="upgradeSubmits" class="btn-primary btn-mini" type="button">确定</button>
						</div>
					</div>
				</div>
				
				<div class="modal hide" id="scaleUpDowns">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>扩容缩容</h3>
					</div>
					<div class="modal-body">
						<input id="hiddenUnique" type="hidden"/>
						<div>
                            <label class="modalStyle" style="padding-right: 10px;">当前版本</label>
                            <label><span id="currentVersionNums"></span></label>
                        </div>
						<div>
                            <label class="modalStyle" style="padding-right: 10px;">当前实例个数</label>
                            <label><span id="instanceNumbers"></span>个</label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">期望实例个数</label>
                            <label><input id="futureNumbers" type="text"/>个</label>
                        </div>
						<div style="float: right;">
							<button class="btn-primary btn-mini cancleScales" type="button">取消</button>&nbsp;&nbsp;&nbsp;
							<button id="scaleSubmits" class="btn-primary btn-mini" type="button">确定</button>
						</div>
					</div>
				</div>
				
				</div>
				<div id="common-footer">
					<div th:include="/public/commonframe::app-footer"></div>
				</div>
			</div>
		</div>
	</body>
	<div th:include="/public/commonframe::jsScript(activeMenuNumber=3)" ></div>
	<script th:src="@{/js/app/serviceUtil.js}"></script>
	<script th:src="@{/js/app/service-info.js}"></script>
</html>
