<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div id="common-header">
		
		</div>
		<div id="content">
			<div id="content-header">
				<h2>服务管理</h2>
			</div>
			<div id="breadcrumb">
				<a href="/app" class="tip-bottom">应用管理</a>
				<a href="#" class="current">服务管理</a>
			</div>
			<div id="search" style="padding-top: 96px;padding-left: 53%;">
				<form action="/app/search" method="post">
					<input type="text" placeholder="输入服务名称查询..." style="font-size: 11px;font-style: italic;color: white"/>
					<button type="submit" class="tip-top" title="Search"><i class="icon-search icon-white"></i></button>
				</form>
			</div>
			<div class="buttons" style="padding-top: 1%;padding-left: 2%">
				<a title="添加一个服务" class="btn tip-bottom" href="service-new.html"><i class="icon-plus"></i>添加服务</a>
				<a title="启动服务" class="btn tip-bottom" href="/app/service-info"><i class="icon-play"></i>启动</a>
				<a title="停止服务" class="btn tip-bottom" href="service-stop.html"><i class="icon-off"></i>停止</a>
				<a title="升级/回滚" class="btn tip-bottom" href="service-upordowngrade.html"><i class="icon-repeat"></i>升级/回滚</a>
				<a title="扩容/缩容" class="btn tip-bottom" href="service-capacity.html"><i class="icon-resize-small"></i>扩容/缩容</a>
				<a title="删除" class="btn tip-bottom"><i class="icon-remove"></i>删除</a>
			</div>	
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<h5>所属集群：<span th:text="@{logicClusterId}"></span>&nbsp;&nbsp;
									namespace：<span th:text="@{namespace}"></span> </h5>
							</div>
							<div class="widget-content nopadding">
							<input type="hidden" id="apps"/>
								<table class="table table-bordered data-table with-check">
									<thead>
										<tr>
											<th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
											<th>服务名称</th>
											<th>启动顺序</th>
											<th>状态</th>
											<th>所属应用</th>
											<th>创建人</th>
											<th>创建时间</th>
							
										</tr>
									</thead>
									<tbody id="tBody">
									    <tr th:each="service,itState:${serviceList}">
									    	<td><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></td>
									        <td><a title='单击查看服务详情' th:href="@{app/service-detail(serviceId=${service.serviceId})}" th:text="${service.serviceId}" class="tip-top"></a></td>
									        <td th:text="${service.turn}"></td>
									        <td th:text="${service.state}"></td>
									        <td th:text="${service.appId}"></td>
									        <td th:text="${service.creator}"></td>
									        <td th:text="${service.createTime}"></td>
									    </tr>
									</tbody>
								</table>							
							</div>
						</div>				
					</div>
				</div>
				
				<div id="common-footer">
					
				</div>
			</div>
		</div>
	</body>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.ui.custom.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.uniform.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/unicorn.js}"></script>
    <script th:src="@{/js/unicorn.tables.js}"></script>
    <script th:src="@{/js/commonDisplay.js}"></script>
</html>
