<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/uniform.css}" />
		<link rel="stylesheet" th:href="@{/css/select2.css}" />		
		<link rel="stylesheet" th:href="@{/css/unicorn.main.css}" />
		<link rel="stylesheet" th:href="@{/css/k8scmp.css}" />
		<link rel="stylesheet" th:href="@{/css/unicorn.grey.css}" class="skin-color" />	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div id="common-header">
		
		</div>
		<div id="content">
			<div id="content-header">
				<h2>服务管理</h2>
			</div>
			<div id="breadcrumb">
				<a href="/app" class="tip-bottom">应用管理</a>
				<a href="#" class="current">服务管理</a>
			</div>
			<div class="filletDiv">
				<div class="upFillet">
					<div class="filletLi" style="float: left">
					<ul>
						<li style="list-style-type: none">实例个数</li>
						<li style="list-style-type: none">3个</li>
					</ul>
				</div>
				<div class="filletLi" style="float: left">
					<ul>
						<li style="list-style-type: none">当前版本</li>
						<li style="list-style-type: none">1</li>
					</ul>
				</div>
				<div class="filletLi" style="float: left">
					<ul>
						<li style="list-style-type: none">状态</li>
						<li style="list-style-type: none">运行中</li>
					</ul>
				</div>
				<div class="filletLi" style="float: left">
					<a title="升级/回滚" class="btn-mini tip-bottom" href="service-upordowngrade.html"><i class="icon-repeat"></i>升级/回滚</a>
					<a title="扩容/缩容" class="btn-mini tip-bottom" href="service-capacity.html"><i class="icon-resize-small"></i>扩容/缩容</a>
					<a title="停止" class="btn-mini tip-bottom"><i class="icon-remove"></i>删除</a>
				</div>
				</div>
			</div>

			<div class="container-fluid" style="width: $(window).height() - 320">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<ul id="myTab" class="nav nav-tabs">
								<li class="active">
							        <a href="#sInfo" data-toggle="tab" class="fontSizeControl">服务详情</a>  
							    </li>
								<li><a href="#sExample" data-toggle="tab" class="fontSizeControl">服务实例</a></li>
								<li><a href="#sUpgrade" data-toggle="tab" class="fontSizeControl">升级配置</a></li>
							</ul> 
						  
						<div id="myTabContent" class="tab-content">  
						    <div class="tab-pane fade in active" id="sInfo">
						    	<div>
						    	<div>
						    		<span class="deploySpan">部署版本</span>
						    		<span class="deploySpan">
						    			<select style="width: 10%">
											<option>1</option>
											<option>5.0-beta</option>	
										</select>
						    		</span>
						    		<span class="deploySpan">
						    			<a title="停止" class="btn btn-primary btn-mini tip-bottom"><i class="icon-remove"></i>废弃</a>
						    		</span>
						    		<span style="font-size: 13px;">废弃的版本不能再运行</span>
						    	</div>
						    	<div class="filletDiv">
									<div class="secondFillet">
										<div class="filletLi" style="float: left">
										<ul>
											<li style="list-style-type: none;padding-bottom: 3px;">镜像名称</li>
											<li style="list-style-type: none;padding-bottom: 3px;">镜像仓库</li>
											<li style="list-style-type: none ;padding-bottom: 3px;">镜像版本</li>
											<li style="list-style-type: none ;padding-bottom: 3px;">是否已废弃</li>
											<li style="list-style-type: none ;padding-bottom: 3px;">访问地址</li>
											<li style="list-style-type: none">挂载存储</li>
										</ul>
										</div>
										<div class="filletLi" style="float: left">
											<ul>
												<li style="list-style-type: none;padding-bottom: 3px;">test/java</li>
												<li style="list-style-type: none;padding-bottom: 3px;">http://test.registry.com</li>
												<li style="list-style-type: none;padding-bottom: 3px;">4.5</li>
												<li style="list-style-type: none;padding-bottom: 3px;">否</li>
												<li style="list-style-type: none;padding-bottom: 3px;">http://123.com:1000</li>
												<li style="list-style-type: none">
													 <div class="control-group">
					                                <div class="row-fluid">
													<div class="span12">
														<div class="widget-box">
															<div class="widget-title">
																<h5>挂载列表</h5>
															</div>
															<div class="widget-content nopadding" style="height: 10%;">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>名称</th>
																			<th>类型</th>
																			<th>版本</th>
																			<th>权限</th>
																			<th>容器内路径</th>
																			<th>主机路径</th>
																	</tr>
																	</thead>
																	<tbody id="tBody">
																	    <tr th:each="app,itState:${imageList}">
																	    	<td><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></td>
																	        <td><a title='单击查看服务列表' th:href="@{/app/service-mgmt(appId=${app.appId},logicClusterId=${app.logicClusterId},namespace=${app.namespace})}" th:text="${app.appId}" class="tip-top"></a></td>
																	        <td th:text="${app.createTime}"></td>
																	        <td th:text="${app.description}"></td>
																	    </tr>
																	</tbody>
																</table>							
														</div>
													</div>				
												</div>
												</div>
				                                </div>
												</li>
											</ul>
										</div>
									</div>
								</div>
						    	</div> 
						    </div>
						      
						    <div class="tab-pane fade" id="sExample">  
						         <div class="control-group">
					                                <div class="row-fluid">
													<div class="span12">
														<div class="widget-box">
															<div class="widget-title">
																<h5>挂载列表</h5>
															</div>
															<div class="widget-content nopadding" style="height: 10%;">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>实例名称</th>
																			<th>状态</th>
																			<th>镜像</th>
																			<th>地址</th>
																			<th>创建事件</th>
																			<th>日志</th>
																	</tr>
																	</thead>
																	<tbody id="tBody">
																	    <tr th:each="app,itState:${imageList}">
																	    	<td><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></td>
																	        <td><a title='单击查看服务列表' th:href="@{/app/service-mgmt(appId=${app.appId},logicClusterId=${app.logicClusterId},namespace=${app.namespace})}" th:text="${app.appId}" class="tip-top"></a></td>
																	        <td th:text="${app.createTime}"></td>
																	        <td th:text="${app.description}"></td>
																	    </tr>
																	</tbody>
																</table>							
														</div>
													</div>				
												</div>
												</div>
				                                </div>  
						    </div> 
						     
						    <div class="tab-pane fade" id="sUpgrade">  
						    	<div>
						    		<span class="deploySpan">选择镜像</span>
						    		<span class="deploySpan">
						    			 <input type="text" placeholder="输入服务名称（字母数字）..." style="font-style: italic;font-size: 13px;width: 40%"/>
                                          &nbsp;&nbsp; &nbsp;&nbsp;<a title="停止" class="btn btn-primary btn-mini tip-bottom"><i class="icon-remove"></i>添加</a>
										<i class="icon-question-sign"></i>
						    		</span>
						    	</div>
						    	<div class="filletDiv">
								<div class="thirdFillet">
									<div class="filletLi" style="float: left">
									<ul>
										<li class="normalLineSpace">镜像仓库</li>
										<li class="normalLineSpace">镜像名称</li>
										<li class="normalLineSpace">镜像版本</li>
										<li class="larLineSpace">版本说明</li>
										<li class="larLineSpace">挂载存储</li>
										<li class="middleLineSpace">启动命令</li>
										<li class="middleLineSpace">容器大小</li>
									</ul>
									</div>
									<div class="filletLi" style="float: left">
										<ul>
											<li class="normalLineSpace">http://pub.test.com</li>
											<li class="normalLineSpace">test/java</li>										
							    			<li class="normalLineSpace">
								    			<select style="width: 100px">
													<option>1</option>
													<option>5.0-beta</option>	
												</select>
							    			</li>
							    			<li class="textareaLineSpace">
								    			<textarea rows="3"></textarea>
							    			</li>
							    			<li style="list-style-type: none">
													 <div class="control-group">
					                                <div class="row-fluid">
													<div class="span12">
														<div class="widget-box">
															<div class="widget-title">
																<h5>挂载列表</h5>
															</div>
															<div class="widget-content nopadding" style="height: 10%;">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>名称</th>
																			<th>类型</th>
																			<th>版本</th>
																			<th>权限</th>
																			<th>容器内路径</th>
																			<th>主机路径</th>
																	</tr>
																	</thead>
																	<tbody id="tBody">
																	    <tr th:each="app,itState:${imageList}">
																	    	<td><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></td>
																	        <td><a title='单击查看服务列表' th:href="@{/app/service-mgmt(appId=${app.appId},logicClusterId=${app.logicClusterId},namespace=${app.namespace})}" th:text="${app.appId}" class="tip-top"></a></td>
																	        <td th:text="${app.createTime}"></td>
																	        <td th:text="${app.description}"></td>
																	    </tr>
																	</tbody>
																</table>							
														</div>
													</div>				
												</div>
												</div>
				                                </div>
				                                <div class="controls">
		                                           <a title="添加挂载存储" class="btn tip-bottom" href="javascript:void(0);" onclick="showStorage();"><i class="icon-plus"></i></a>
		                                       		<br/>
		                                       		<br/>
		                                       		<div id="storages">
		                                       			
		                                       		</div>
	                                       		</div>
												</li>
						    			
						    			<li class="normalLineSpace">
						    				<input type="text" style="width: 40%"/>
						    			</li>
						    			<li class="normalLineSpace">
							    			<div class="controls">
		                                	 	<span>CPU(个)</span><input type="text" class="combine tip-top"/>&nbsp;&nbsp;&nbsp;
												<span>内存(MB)</span><input type="text" class="combine tip-top"/>
											</div>
						    			</li>
						    			
										</ul>
									</div>
								</div>
								
							</div>
						    </div>  
						
						</div>				
					</div>
				</div>
				
				<div id="common-footer">
					
				</div>
			</div>
		</div>
		</div>
	</body>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.ui.custom.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.uniform.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/unicorn.js}"></script>
    <script th:src="@{/js/unicorn.tables.js}"></script>
    <script th:src="@{/js/commonDisplay.js}"></script>
</html>
