<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="/public/commonframe :: cssScript" />
	<body>
		<div id="common-header">
			<div th:include="/public/commonframe :: app-header"></div>
		</div>
		<div id="content">
			<div id="content-header">
				<h2>服务管理</h2>
			</div>
			<div id="breadcrumb">
				<a href="/app" class="tip-bottom">应用管理</a>
				<a href="#" class="current">服务管理</a>
			</div>
			
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="buttons">
							<a title="添加一个服务" id="addService" class="btn tip-bottom" th:href="@{/app/service/service-new(appId=${#httpServletRequest.getParameter('appId')})}"><i class="icon-plus"></i>添加服务</a>
							<a title="启动服务" id="startService" data-toggle="modal" class="btn tip-bottom" href="#startServiceDisplay" onclick="startService();"><i class="icon-play"></i>启动</a>
							<a title="停止服务" id="stopService" class="btn tip-bottom" href="javascript:void(0);" onclick="stopService();"><i class="icon-off"></i>停止</a>
							<a title="升级/回滚" id="upService" data-toggle="modal" class="btn tip-bottom" href="#updateRollback" onclick="startUpdateRollback();"><i class="icon-repeat"></i>升级/回滚</a>
							<a title="扩容/缩容" id="extenService" data-toggle="modal" class="btn tip-bottom" href="#scaleUpDown" onclick="scaleUpDown();"><i class="icon-resize-small"></i>扩容/缩容</a>
							<!-- <a title="删除" id="deleteService" class="btn tip-bottom" href="javascript:void(0);" onclick="deleteService();"><i class="icon-remove"></i>删除</a> -->
							<!-- <div class="input-append" style="float:right">
								<form id="serviceSearchForm">
				                	<input type="search" placeholder="请输入查询内容" name="appCode"/><button class="btn prepend" type="submit"><i class="icon-search"></i> </button>
				            	</form>
		            		</div> -->
						</div>	
						<div class="widget-box">
							<div class="widget-title">
								<h5>所属集群：<span th:text="${#httpServletRequest.getParameter('hostLabel')}"></span>&nbsp;&nbsp;
									namespace：<span th:text="${#httpServletRequest.getParameter('namespace')}"></span></h5>
							</div>
							<div class="widget-content nopadding">
							<input type="hidden" id="appId" th:value="${#httpServletRequest.getParameter('appId')}"/>
								<table class="table table-bordered scroll-table display nowrap" style="width:100%;table-layout: fixed;">
									<thead>
										<tr>
											<th width="30px"><label><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></label></th>
											<th class="s10">服务名称</th>
											<th class="s20">启动顺序</th>
											<th class="s30">状态</th>
											<th class="s40">所属应用</th>
											<th class="s40">创建人</th>
											<th class="s50">创建时间</th>
											<th class="s70">操作</th>
											<th>Id</th>
										</tr>
									</thead>
									<tbody id="tBody">
									    <tr th:each="service,itState:${serviceList}">
									    	<td style="text-align: center;width:30px"><label><input type="checkbox"/></label></td>
									        <td class="s10"><a title='单击查看服务详情' th:href="@{'/app/service/service-info/'+${service.id}}" th:text="${service.serviceCode}"></a></td>
									        <td class="s20" th:text="${service.startSeq}"></td>
									        <td class="s30" th:text="${service.state}"></td>
									        <td class="s40" th:text="${service.appCode}"></td>
									        <td class="s50" th:text="${service.creatorId}"></td>
									        <td class="s60" th:name="${service.id}" th:text="${service.createTime}"></td>
									        <td class="operation s70">
									        	<a class="iconOperation" 
									        	href="#modifyServiceModal" data-toggle="modal" th:onclick="'showServiceModify('+'\''+${service.id}+'\''+',\''+${service.description}+'\''+',\''+${service.serviceCode}+'\''+')'"><i class="icon-edit"></i><span>编辑</span></a>
									        	<a class="iconOperation" href="javascript:void(0);" th:onclick="'deleteSingleService('+'\''+${service.id}+'\''+',this)'"><i class="icon-trash"></i><span>删除</span></a>
									        </td>
									        <td th:text="${service.id}"></td>
									    </tr>
									</tbody>
								</table>							
							</div>
						</div>				
					</div>
				</div>
				
				<div class="modal hide" id="scaleUpDown">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>扩容缩容</h3>
					</div>
					<div class="modal-body">
						<input id="hiddenUnique" type="hidden"/>
						<div>
                            <label class="modalStyle" style="padding-right: 10px;">当前版本</label>
                            <label><span id="currentVersionNum"></span></label>
                        </div>
						<div>
                            <label class="modalStyle" style="padding-right: 10px;">当前实例个数</label>
                            <label><span id="instanceNumber"></span>个</label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">期望实例个数</label>
                            <label><input id="futureNumber" type="text"/>个</label>
                        </div>
						<div style="float: right;">
							<button class="btn-primary btn-mini cancleService" type="button">取消</button>&nbsp;&nbsp;&nbsp;
							<button id="scaleSubmit" class="btn-primary btn-mini" type="button">确定</button>
						</div>
					</div>
				</div>
				
				<div class="modal hide" id="modifyServiceModal">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>编辑服务</h3>
					</div>
					<div class="modal-body">
						<input id="hiddenUnique" type="hidden"/>
						<div style="padding-bottom: 10px;">
                            <label class="modalStyle" style="padding-right: 10px;">服务名称</label>
                            <span id="serviceName"></span>
                        </div>
                        <div style="float:left;padding-bottom: 10px;">
                            <label class="modalStyle" style="padding-right: 10px;">服务描述</label>
                            <textarea id="serviceDescription" rows="3" cols="5"></textarea>
                        </div>
						<div style="position: absolute;bottom: 0px;right:40%;">
							<button id="cancleModifyService" class="btn-primary btn-mini" type="button">取消</button>&nbsp;&nbsp;&nbsp;
							<button id="serviceModifySubmit" class="btn-primary btn-mini" type="button">确定</button>
						</div>
					</div>
				</div>
				
				<div class="modal hide" id="updateRollback">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>升级回滚</h3>
					</div>
					<div class="modal-body">
						<div>
                            <label class="modalStyle" style="padding-right: 10px;">当前版本</label>
                            <label><span id="currentVersionNumber"></span></label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">选择版本</label>
                            <label><select id="selectVersionNumber"></select></label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">启动实例个数</label>
                            <label><input id="wishInstanceNumber" type="text"/></label>
                        </div>
						<div style="float: right;">
							<button class="btn-primary btn-mini cancleService" type="button">取消</button>&nbsp;&nbsp;&nbsp;
							<button id="rollbackSubmit" class="btn-primary btn-mini" type="button">确定</button>
						</div>
					</div>
				</div>
				
				<div class="modal hide" id="startServiceDisplay">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>启动服务</h3>
					</div>
					<div class="modal-body">
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">选择版本</label>
                            <label><select id="selectStartVersionNumber"></select></label>
                        </div>
                        <div>
                            <label class="modalStyle" style="padding-right: 10px;">启动实例个数</label>
                            <label><input id="wishStartInstanceNumber" type="text"/></label>
                        </div>
						<div style="float: right;">
							<button class="btn-primary btn-mini cancleStartService" type="button">取消</button>&nbsp;&nbsp;&nbsp;
							<button id="startServiceSubmit" class="btn-primary btn-mini" type="button">确定</button>
						</div>
					</div>
				</div>
								
				<div id="common-footer">
					<div th:include="/public/commonframe::app-footer"></div>
				</div>
			</div>
			<input type="hidden" id="hiddenSingleServiceId"/>
		</div>
	</body>
	<div th:include="/public/commonframe::jsScript(activeMenuNumber=3)" ></div>
	<script th:src="@{/js/app/service-mgmt.js}"></script>
</html>
