/* Forms */
.form-horizontal .control-label-left{
	padding-top: 15px;
	width: 60px;
}
.form-horizontal .textarea-left{
	padding-top: 15px;
	width: 100%;
}
.form-horizontal .control-label-YAML{
	padding-top: 15px;
	width: 100px;
}
.form-horizontal .controls {
	margin-left: 200px;
	padding: 10px 0;
}
.form-horizontal .controls-left {
	margin-left: 10%;
	padding: 10px 0;
}
.form-horizontal input[class="normaltext"], .form-horizontal input[type=password], .form-horizontal textarea[class~="wholewdith"] {
	width: 80%;
}
.form-horizontal textarea[class="wholewidth"] {
	width: 100%;
}

.form-horizontal .form-actions {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 40%;
}
.help-block, .help-inline {
    color: #999999;
}
/* Responsive design */
@media (max-width: 480px) {
	#header h1 {
		top: auto;
		left: auto;
		margin: 3px auto;
	}
	#user-nav {
		position: relative;
		left: auto;
		right: auto;
		width: 100%;
		margin-top: -43px;
		margin-bottom: 43px;
	}
	.navbar > .nav {
		float: none;
	}
	#user-nav > ul {
		left: 50%;
		position: absolute;
	}
	#content {
		margin-left: 0 !important;
		border-top-left-radius: 0;
	}
	#content-header {
		margin-top: 0;
		height: 140px;
		text-align: center;
	}
	#content-header h1, #content-header .btn-group {
		float: none;
	}
	#content-header h1 {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-top: 0;
		padding-top: 15px;
		width: 100%;
	}
	#content-header .btn-group {
		margin-top: 70px;
		margin-bottom: 0;
		margin-right: 0;
		left: 30%;
	}
	#sidebar {
		float: none;
		width: 100% !important;
	}
	#sidebar > a {
		padding: 7px 20px 7px 15px;
		box-shadow: 0 1px 0 #666666;
		margin-bottom: 1px;
		display: block !important;
		text-transform: uppercase;
		color: #eeeeee;
		font-size: 10px;
	}
	#sidebar > a > i {
		margin-right: 10px;
		background-image: url('../img/glyphicons-halflings-white.png');
	}
	#sidebar > ul {
		display: none;
		margin: -2px 0 0 !important;
		width: 100% !important;
		box-shadow: 0 6px 6px rgba(0,0,0,0.4);
	}
	#sidebar > ul > li.active > a {
		background: none !important;
	}
	#sidebar > ul > li > a > span {
		display: inline !important;
	}
	.widget-title .buttons > .btn {
		width: 11px;
		white-space: nowrap;
		overflow: hidden;
	}
    .form-horizontal .control-label {
        padding-left: 30px;
    }
     .form-horizontal .control-label-left {
        padding-left: 30px;
    }
    .form-horizontal .controls {
        margin-left: 0;
        padding: 10px 30px;
    }
    .form-horizontal .controls-left {
        margin-left: 0;
        padding: 10px 30px;
    }
    .form-actions {
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
	#header h1 {
		top: 3px;
	}
	#sidebar, #sidebar > ul {
		width: 43px;
	}
	#sidebar > ul ul {
		display: none;
		position: absolute;
		left:50px;
		top: 0;
		min-width: 150px;
		box-shadow: 0 1px 5px rgba(0,0,0,0.7);
		border-radius: 5px;		
		list-style: none;
	}
	#sidebar > ul ul li a {
		white-space: nowrap;
		padding: 10px 25px;
	}
	#sidebar > ul ul:before {
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		content: "";
		display: inline-block;
		left: -6px;
		position: absolute;
		top: 11px;
	}
	#sidebar > ul ul:after {
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		content: "";
		display: inline-block;
		left: -5px;
		position: absolute;
		top: 12px;
    }
	#sidebar > a {
		display: none !important;
	}
	#sidebar > ul > li.open.submenu > a {
    border-bottom: none !important;
	}
	#sidebar > ul > li > a > span {
		display: none;
	}
	#content {
		margin-left: 43px;
	}
}

.filletDiv{
	font-size:13px;
	text-align:left;
	border:1px solid #a1a1a1;
	padding:2%; 
	vertical-align:middle;
	background:#dddddd;
	border-radius:25px;
	-moz-border-radius:25px; /* 老的 Firefox */
}


.filletDiv .upFillet{
	padding-top: 0%;
	padding-bottom: 3%;
}

.secondFillet{
	padding-bottom: 40%;
}

.thirdFillet{
	padding-bottom: 50%;
}

.filleButtontLi{
	padding-left: 10%;
}

.filletDiv .filletLi{
	padding-top: 0;
	padding-left: 4%;
}

.deploySpan{
	padding-left: 5%;
	font-size: 13px;
}
.fontSizeControl{
	font-size: 13px;
}

.normalLineSpace{
	list-style-type: none ;
	padding-bottom: 3px;
}
.middleLineSpace{
	list-style-type: none ;
	padding-bottom: 26px;
}
.larLineSpace{
	list-style-type: none ;
	padding-bottom: 100px;
}
.textareaLineSpace{
	list-style-type: none ;
}

.iconOperation{
	font-size: 11px;
	font-family: inherit;
}

.modalStyle{
	float:left;
	font-size:13px;
}

.t10{
	/* width: 50px;
    min-width:50px;
    max-width:50px; */
    
    width: 10%;
    min-width:10%;
    max-width:10%;
}
.t20{
   /*  width: 50px;
    min-width:50px;
    max-width:50px; */
    
    width: 10%;
    min-width:10%;
    max-width:10%;
}
.t30{
   /*  width: 60px;
    min-width:60px;
    max-width:60px; */
    
    width: 10%;
    min-width:10%;
    max-width:10%;
}
.t40{
    /* width: 60px;
    min-width:60px;
    max-width:60px; */
    
    width: 10%;
    min-width:10%;
    max-width:10%;
}
.t50{
   	/* width: 158px;
    min-width:158px;
    max-width:158px;
     */
    width: 20%;
    min-width:20%;
    max-width:20%;
}
.t60{
   	/* width: 30%;
    min-width:30%;
    max-width:30%; */
    
    
    width: 20%;
    min-width:20%;
    max-width:20%;
}

.t70{
   	width: 15%;
    min-width:15%;
    max-width:15%;
}
/* 
.i10{
	width: 30%;
    min-width:30%;
    max-width:30%;
}
.i20{
	width: 30%;
    min-width:30%;
    max-width:30%;
}
.i30{
	width: 10%;
    min-width:10%;
    max-width:10%;
}
.i40{
	width: 30%;
    min-width:30%;
    max-width:30%;
} */

.s10{
	width: 20%;
    min-width:20%;
    max-width:20%;	
}
.s20{
	width: 10%;
    min-width:10%;
    max-width:10%;	
}
.s30 .s40 {
	width: 10%;
    min-width:10%;
    max-width:10%;	
}

.s50{
	width: 20%;
    min-width:20%;
    max-width:20%;	
}

.s60{
	width: 20%;
    min-width:20%;
    max-width:20%;	
}
.s70{
	width: 15%;
    min-width:15%;
    max-width:15%;	
}

